USE [master]
GO
/****** Object:  Database [УчебноеЗаведение]    Script Date: 15.10.2025 21:15:18 ******/
CREATE DATABASE [УчебноеЗаведение]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'УчебноеЗаведение', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\УчебноеЗаведение.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'УчебноеЗаведение_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\УчебноеЗаведение_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [УчебноеЗаведение].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [УчебноеЗаведение]
GO
/****** Object:  Table [dbo].[Группы]    Script Date: 15.10.2025 21:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Группы](
	[ID_Группы] [int] IDENTITY(1,1) NOT NULL,
	[Название_Группы] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Группы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Название_Группы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Оценки]    Script Date: 15.10.2025 21:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Оценки](
	[ID_Оценки] [int] IDENTITY(1,1) NOT NULL,
	[ID_Студента] [int] NOT NULL,
	[ID_Предмета] [int] NOT NULL,
	[Оценка] [int] NOT NULL,
	[Дата] [date] NOT NULL,
	[ID_Преподавателя] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Оценки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 15.10.2025 21:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ID_Пользователя] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](255) NOT NULL,
	[Роль] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Посещаемость]    Script Date: 15.10.2025 21:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Посещаемость](
	[ID_Посещаемости] [int] IDENTITY(1,1) NOT NULL,
	[ID_Студента] [int] NOT NULL,
	[ID_Предмета] [int] NOT NULL,
	[Дата] [date] NOT NULL,
	[Присутствовал] [bit] NOT NULL,
	[ID_Преподавателя] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Посещаемости] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Предметы]    Script Date: 15.10.2025 21:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Предметы](
	[ID_Предмета] [int] IDENTITY(1,1) NOT NULL,
	[Название_Предмета] [nvarchar](100) NOT NULL,
	[ID_Преподавателя] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Предмета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Преподаватели]    Script Date: 15.10.2025 21:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Преподаватели](
	[ID_Преподавателя] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](100) NOT NULL,
	[ID_Пользователя] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Преподавателя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Расписание]    Script Date: 15.10.2025 21:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Расписание](
	[ID_Записи] [int] IDENTITY(1,1) NOT NULL,
	[ID_Группы] [int] NOT NULL,
	[День_Недели] [nvarchar](20) NOT NULL,
	[Номер_Пары] [int] NOT NULL,
	[ID_Предмета] [int] NOT NULL,
	[Аудитория] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Студенты]    Script Date: 15.10.2025 21:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Студенты](
	[ID_Студента] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](100) NOT NULL,
	[ID_Группы] [int] NOT NULL,
	[ID_Пользователя] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Студента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Оценки]  WITH CHECK ADD FOREIGN KEY([ID_Предмета])
REFERENCES [dbo].[Предметы] ([ID_Предмета])
GO
ALTER TABLE [dbo].[Оценки]  WITH CHECK ADD FOREIGN KEY([ID_Преподавателя])
REFERENCES [dbo].[Преподаватели] ([ID_Преподавателя])
GO
ALTER TABLE [dbo].[Оценки]  WITH CHECK ADD FOREIGN KEY([ID_Студента])
REFERENCES [dbo].[Студенты] ([ID_Студента])
GO
ALTER TABLE [dbo].[Посещаемость]  WITH CHECK ADD FOREIGN KEY([ID_Предмета])
REFERENCES [dbo].[Предметы] ([ID_Предмета])
GO
ALTER TABLE [dbo].[Посещаемость]  WITH CHECK ADD FOREIGN KEY([ID_Преподавателя])
REFERENCES [dbo].[Преподаватели] ([ID_Преподавателя])
GO
ALTER TABLE [dbo].[Посещаемость]  WITH CHECK ADD FOREIGN KEY([ID_Студента])
REFERENCES [dbo].[Студенты] ([ID_Студента])
GO
ALTER TABLE [dbo].[Предметы]  WITH CHECK ADD FOREIGN KEY([ID_Преподавателя])
REFERENCES [dbo].[Преподаватели] ([ID_Преподавателя])
GO
ALTER TABLE [dbo].[Преподаватели]  WITH CHECK ADD FOREIGN KEY([ID_Пользователя])
REFERENCES [dbo].[Пользователи] ([ID_Пользователя])
GO
ALTER TABLE [dbo].[Расписание]  WITH CHECK ADD FOREIGN KEY([ID_Группы])
REFERENCES [dbo].[Группы] ([ID_Группы])
GO
ALTER TABLE [dbo].[Расписание]  WITH CHECK ADD FOREIGN KEY([ID_Предмета])
REFERENCES [dbo].[Предметы] ([ID_Предмета])
GO
ALTER TABLE [dbo].[Студенты]  WITH CHECK ADD FOREIGN KEY([ID_Группы])
REFERENCES [dbo].[Группы] ([ID_Группы])
GO
ALTER TABLE [dbo].[Студенты]  WITH CHECK ADD FOREIGN KEY([ID_Пользователя])
REFERENCES [dbo].[Пользователи] ([ID_Пользователя])
GO
ALTER TABLE [dbo].[Оценки]  WITH CHECK ADD CHECK  (([Оценка]>=(2) AND [Оценка]<=(5)))
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD CHECK  (([Роль]='Студент' OR [Роль]='Преподаватель' OR [Роль]='Админ'))
GO
USE [master]
GO
