USE [master]
GO
/****** Object:  Database [Фитнес_Зал]    Script Date: 20.02.2026 12:57:41 ******/
CREATE DATABASE [Фитнес_Зал]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Фитнес_Зал', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Фитнес_Зал.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Фитнес_Зал_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Фитнес_Зал_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Фитнес_Зал].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Фитнес_Зал]
GO
/****** Object:  Table [dbo].[Журнал]    Script Date: 20.02.2026 12:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Журнал](
	[Id_журнала] [int] IDENTITY(1,1) NOT NULL,
	[Id_клиента] [int] NOT NULL,
	[Действие] [nvarchar](100) NOT NULL,
	[Дата_и_время] [datetime] NOT NULL,
 CONSTRAINT [PK__Журнал__3214EC07791614EA] PRIMARY KEY CLUSTERED 
(
	[Id_журнала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 20.02.2026 12:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[Id_клиента] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Дата_регистрации] [date] NOT NULL,
	[Последний_вход] [datetime] NULL,
 CONSTRAINT [PK__Клиенты__3214EC07B283A6CE] PRIMARY KEY CLUSTERED 
(
	[Id_клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Посещения]    Script Date: 20.02.2026 12:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Посещения](
	[Id_посещений] [int] IDENTITY(1,1) NOT NULL,
	[Id_клиента] [int] NOT NULL,
	[Id_тренировки] [int] NOT NULL,
	[Дата_записи] [datetime] NOT NULL,
	[Статус] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Посещени__3214EC0712E4A1FE] PRIMARY KEY CLUSTERED 
(
	[Id_посещений] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Рекомендации]    Script Date: 20.02.2026 12:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Рекомендации](
	[Id_рекомендации] [int] IDENTITY(1,1) NOT NULL,
	[Id_тренировки] [int] NOT NULL,
	[Id_рекомендованной_тренировки] [int] NOT NULL,
	[Причина] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK__Рекоменд__3214EC070638F75F] PRIMARY KEY CLUSTERED 
(
	[Id_рекомендации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тренировки]    Script Date: 20.02.2026 12:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тренировки](
	[Id_тренеровки] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Тип] [nvarchar](50) NOT NULL,
	[Тренер] [nvarchar](100) NOT NULL,
	[Время_проведения] [datetime] NOT NULL,
	[Уникальный_код] [nvarchar](50) NOT NULL,
	[Id_филиала] [int] NULL,
 CONSTRAINT [PK__Трениров__3214EC07D789A70E] PRIMARY KEY CLUSTERED 
(
	[Id_тренеровки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Филиалы]    Script Date: 20.02.2026 12:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Филиалы](
	[Id_филиала] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Адрес] [nvarchar](200) NOT NULL,
	[Контактный_телефон] [varchar](20) NULL,
 CONSTRAINT [PK__Филиалы__3214EC07FBB5A4B0] PRIMARY KEY CLUSTERED 
(
	[Id_филиала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Журнал] ON 

INSERT [dbo].[Журнал] ([Id_журнала], [Id_клиента], [Действие], [Дата_и_время]) VALUES (1, 1, N'Вход в систему', CAST(N'2025-05-15T12:00:00.000' AS DateTime))
INSERT [dbo].[Журнал] ([Id_журнала], [Id_клиента], [Действие], [Дата_и_время]) VALUES (2, 2, N'Запись на тренировку', CAST(N'2025-05-14T10:30:00.000' AS DateTime))
INSERT [dbo].[Журнал] ([Id_журнала], [Id_клиента], [Действие], [Дата_и_время]) VALUES (3, 3, N'Отмена записи', CAST(N'2025-05-15T14:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Журнал] OFF
GO
SET IDENTITY_INSERT [dbo].[Клиенты] ON 

INSERT [dbo].[Клиенты] ([Id_клиента], [Логин], [Email], [Дата_регистрации], [Последний_вход]) VALUES (1, N'ivanov', N'ivanov@mail.ru', CAST(N'2024-01-10' AS Date), CAST(N'2025-05-15T12:00:00.000' AS DateTime))
INSERT [dbo].[Клиенты] ([Id_клиента], [Логин], [Email], [Дата_регистрации], [Последний_вход]) VALUES (2, N'petrov', N'petrov@mail.ru', CAST(N'2024-02-05' AS Date), CAST(N'2025-05-15T11:30:00.000' AS DateTime))
INSERT [dbo].[Клиенты] ([Id_клиента], [Логин], [Email], [Дата_регистрации], [Последний_вход]) VALUES (3, N'sidorov', N'sidorov@mail.ru', CAST(N'2024-03-20' AS Date), CAST(N'2025-05-14T17:45:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Клиенты] OFF
GO
SET IDENTITY_INSERT [dbo].[Посещения] ON 

INSERT [dbo].[Посещения] ([Id_посещений], [Id_клиента], [Id_тренировки], [Дата_записи], [Статус]) VALUES (2, 1, 1, CAST(N'2025-05-15T00:00:00.000' AS DateTime), N'Посетил')
INSERT [dbo].[Посещения] ([Id_посещений], [Id_клиента], [Id_тренировки], [Дата_записи], [Статус]) VALUES (3, 2, 2, CAST(N'2025-05-14T00:00:00.000' AS DateTime), N'Отменено')
INSERT [dbo].[Посещения] ([Id_посещений], [Id_клиента], [Id_тренировки], [Дата_записи], [Статус]) VALUES (4, 3, 3, CAST(N'2025-05-16T00:00:00.000' AS DateTime), N'Посетил')
SET IDENTITY_INSERT [dbo].[Посещения] OFF
GO
SET IDENTITY_INSERT [dbo].[Рекомендации] ON 

INSERT [dbo].[Рекомендации] ([Id_рекомендации], [Id_тренировки], [Id_рекомендованной_тренировки], [Причина]) VALUES (1, 1, 5, N'Улучшение гибкости')
INSERT [dbo].[Рекомендации] ([Id_рекомендации], [Id_тренировки], [Id_рекомендованной_тренировки], [Причина]) VALUES (2, 2, 4, N'Повышение выносливости')
INSERT [dbo].[Рекомендации] ([Id_рекомендации], [Id_тренировки], [Id_рекомендованной_тренировки], [Причина]) VALUES (3, 3, 1, N'Релаксация после нагрузки')
SET IDENTITY_INSERT [dbo].[Рекомендации] OFF
GO
SET IDENTITY_INSERT [dbo].[Тренировки] ON 

INSERT [dbo].[Тренировки] ([Id_тренеровки], [Название], [Тип], [Тренер], [Время_проведения], [Уникальный_код], [Id_филиала]) VALUES (1, N'Йога для начинающих', N'Йога', N'Анна Смирнова', CAST(N'2025-05-17T09:00:00.000' AS DateTime), N'YOGA123', 1)
INSERT [dbo].[Тренировки] ([Id_тренеровки], [Название], [Тип], [Тренер], [Время_проведения], [Уникальный_код], [Id_филиала]) VALUES (2, N'Кроссфит', N'Силовая', N'Игорь Иванов', CAST(N'2025-05-17T10:00:00.000' AS DateTime), N'CFIT456', 2)
INSERT [dbo].[Тренировки] ([Id_тренеровки], [Название], [Тип], [Тренер], [Время_проведения], [Уникальный_код], [Id_филиала]) VALUES (3, N'Пилатес', N'Фитнес', N'Елена Петрова', CAST(N'2025-05-17T11:00:00.000' AS DateTime), N'PIL789', 3)
SET IDENTITY_INSERT [dbo].[Тренировки] OFF
GO
SET IDENTITY_INSERT [dbo].[Филиалы] ON 

INSERT [dbo].[Филиалы] ([Id_филиала], [Название], [Адрес], [Контактный_телефон]) VALUES (1, N'Центр', N'ул. Ленина, 10', N'+7 900 123-45-67')
INSERT [dbo].[Филиалы] ([Id_филиала], [Название], [Адрес], [Контактный_телефон]) VALUES (2, N'Север', N'пр. Победы, 35', N'+7 900 234-56-78')
INSERT [dbo].[Филиалы] ([Id_филиала], [Название], [Адрес], [Контактный_телефон]) VALUES (3, N'Юг', N'ул. Советская, 7', N'+7 900 345-67-89')
SET IDENTITY_INSERT [dbo].[Филиалы] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Клиенты__A9D10534BCE49A37]    Script Date: 20.02.2026 12:57:41 ******/
ALTER TABLE [dbo].[Клиенты] ADD  CONSTRAINT [UQ__Клиенты__A9D10534BCE49A37] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Клиенты__BC2217D3AE8EFFE8]    Script Date: 20.02.2026 12:57:41 ******/
ALTER TABLE [dbo].[Клиенты] ADD  CONSTRAINT [UQ__Клиенты__BC2217D3AE8EFFE8] UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Трениров__03D6928CCAA24293]    Script Date: 20.02.2026 12:57:41 ******/
ALTER TABLE [dbo].[Тренировки] ADD  CONSTRAINT [UQ__Трениров__03D6928CCAA24293] UNIQUE NONCLUSTERED 
(
	[Уникальный_код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Журнал]  WITH CHECK ADD  CONSTRAINT [FK__Журнал__Id_клиен__48CFD27E] FOREIGN KEY([Id_клиента])
REFERENCES [dbo].[Клиенты] ([Id_клиента])
GO
ALTER TABLE [dbo].[Журнал] CHECK CONSTRAINT [FK__Журнал__Id_клиен__48CFD27E]
GO
ALTER TABLE [dbo].[Посещения]  WITH CHECK ADD  CONSTRAINT [FK__Посещения__Id_кл__412EB0B6] FOREIGN KEY([Id_клиента])
REFERENCES [dbo].[Клиенты] ([Id_клиента])
GO
ALTER TABLE [dbo].[Посещения] CHECK CONSTRAINT [FK__Посещения__Id_кл__412EB0B6]
GO
ALTER TABLE [dbo].[Посещения]  WITH CHECK ADD  CONSTRAINT [FK__Посещения__Id_тр__4222D4EF] FOREIGN KEY([Id_тренировки])
REFERENCES [dbo].[Тренировки] ([Id_тренеровки])
GO
ALTER TABLE [dbo].[Посещения] CHECK CONSTRAINT [FK__Посещения__Id_тр__4222D4EF]
GO
ALTER TABLE [dbo].[Рекомендации]  WITH CHECK ADD  CONSTRAINT [FK__Рекоменда__Id_ре__45F365D3] FOREIGN KEY([Id_рекомендованной_тренировки])
REFERENCES [dbo].[Тренировки] ([Id_тренеровки])
GO
ALTER TABLE [dbo].[Рекомендации] CHECK CONSTRAINT [FK__Рекоменда__Id_ре__45F365D3]
GO
ALTER TABLE [dbo].[Рекомендации]  WITH CHECK ADD  CONSTRAINT [FK__Рекоменда__Id_тр__44FF419A] FOREIGN KEY([Id_тренировки])
REFERENCES [dbo].[Тренировки] ([Id_тренеровки])
GO
ALTER TABLE [dbo].[Рекомендации] CHECK CONSTRAINT [FK__Рекоменда__Id_тр__44FF419A]
GO
ALTER TABLE [dbo].[Тренировки]  WITH CHECK ADD  CONSTRAINT [FK__Тренировк__Id_фи__3E52440B] FOREIGN KEY([Id_филиала])
REFERENCES [dbo].[Филиалы] ([Id_филиала])
GO
ALTER TABLE [dbo].[Тренировки] CHECK CONSTRAINT [FK__Тренировк__Id_фи__3E52440B]
GO
USE [master]
GO
