USE [master]
GO
/****** Object:  Database [РКИС]    Script Date: 20.02.2026 12:59:25 ******/
CREATE DATABASE [РКИС]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'РКИС', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\РКИС.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'РКИС_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\РКИС_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [РКИС].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [РКИС]
GO
/****** Object:  Table [dbo].[Изображения]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Изображения](
	[ID_Изображение] [int] IDENTITY(1,1) NOT NULL,
	[Изображение] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Изображения] PRIMARY KEY CLUSTERED 
(
	[ID_Изображение] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[История_покупок]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[История_покупок](
	[ID_Истории_покупок] [int] IDENTITY(1,1) NOT NULL,
	[ID_Товара] [int] NULL,
	[ID_Проведенные_услуги] [int] NOT NULL,
	[Кол_товара] [int] NOT NULL,
	[Дата_время] [nvarchar](50) NOT NULL,
	[Итоговая_сумма] [int] NOT NULL,
	[Вид_оплаты] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_История_покупок] PRIMARY KEY CLUSTERED 
(
	[ID_Истории_покупок] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Категории]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категории](
	[ID_Категории] [int] IDENTITY(1,1) NOT NULL,
	[Категория] [nvarchar](50) NOT NULL,
	[Коэф_оплаты] [int] NOT NULL,
 CONSTRAINT [PK_Категории] PRIMARY KEY CLUSTERED 
(
	[ID_Категории] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Категория]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категория](
	[ID_Категории] [int] NOT NULL,
	[Категория] [nvarchar](50) NOT NULL,
	[Коэф_оплаты] [int] NOT NULL,
 CONSTRAINT [PK_Категория_сотрудника] PRIMARY KEY CLUSTERED 
(
	[ID_Категории] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Категория_товара]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категория_товара](
	[ID_Категории_товара] [int] NOT NULL,
	[Описание_товара] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Категория_товара] PRIMARY KEY CLUSTERED 
(
	[ID_Категории_товара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиент]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиент](
	[ID_Клиента] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Телефон] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Дата_рождения] [date] NOT NULL,
	[Пол_клиента] [nvarchar](10) NOT NULL,
	[Дата_регистрации] [date] NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Клиент] PRIMARY KEY CLUSTERED 
(
	[ID_Клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Комплект]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Комплект](
	[ID_Комплекта] [int] NOT NULL,
	[ID_Товара1] [int] NOT NULL,
	[ID_Товара2] [int] NOT NULL,
 CONSTRAINT [PK_Комплект] PRIMARY KEY CLUSTERED 
(
	[ID_Комплекта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Наличие_товара]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Наличие_товара](
	[ID_Наличие] [int] NOT NULL,
	[ID_Товара] [int] NOT NULL,
	[ID_Склада] [int] NOT NULL,
	[Кол_товара] [int] NOT NULL,
 CONSTRAINT [PK_Наличие_товара] PRIMARY KEY CLUSTERED 
(
	[ID_Наличие] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Проведенные_услуги]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Проведенные_услуги](
	[ID_Проведенных_услуг] [int] IDENTITY(1,1) NOT NULL,
	[ID_Клиента] [int] NOT NULL,
	[ID_Услуги] [int] NOT NULL,
	[Начало_оказания_услуги] [datetime] NOT NULL,
	[Статус] [nvarchar](50) NULL,
	[ID_Сотрудника] [int] NOT NULL,
	[Коментарий_Сотрудника] [nvarchar](max) NULL,
 CONSTRAINT [PK_Проведенные_услуги] PRIMARY KEY CLUSTERED 
(
	[ID_Проведенных_услуг] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продажи]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продажи](
	[ID_Продажи_услуг] [int] NOT NULL,
	[Продажи_услуг] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Продажи] PRIMARY KEY CLUSTERED 
(
	[ID_Продажи_услуг] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продажи_услуг]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продажи_услуг](
	[ID_Продажи_услуг] [int] NOT NULL,
	[ID_Проведенных_услуг] [int] NOT NULL,
	[ID_Продажи] [int] NOT NULL,
 CONSTRAINT [PK_Продажи_услуг] PRIMARY KEY CLUSTERED 
(
	[ID_Продажи_услуг] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Рабочее_время]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Рабочее_время](
	[ID_Рабочее_время] [int] NOT NULL,
	[ID_Сотрудника] [int] NOT NULL,
	[ID_Услуги] [int] NOT NULL,
	[Рабочее_время] [nvarchar](50) NULL,
 CONSTRAINT [PK_Рабочее_время] PRIMARY KEY CLUSTERED 
(
	[ID_Рабочее_время] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сезон]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сезон](
	[ID_Сезона] [int] NOT NULL,
	[Сезон] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Сезон] PRIMARY KEY CLUSTERED 
(
	[ID_Сезона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сезонные_товары]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сезонные_товары](
	[ID_Сезонного_товара] [int] NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
	[ID_Товара] [int] NOT NULL,
	[ID_Сезона] [int] NOT NULL,
 CONSTRAINT [PK_Сезонные_товары] PRIMARY KEY CLUSTERED 
(
	[ID_Сезонного_товара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сканы]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сканы](
	[ID_Доп_сканов] [int] NOT NULL,
	[Сканы] [nvarchar](max) NOT NULL,
	[ID_Услуги] [int] NULL,
 CONSTRAINT [PK_Сканы] PRIMARY KEY CLUSTERED 
(
	[ID_Доп_сканов] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Склад]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Склад](
	[ID_Склада] [int] NOT NULL,
	[Город] [nvarchar](50) NOT NULL,
	[Улица] [nvarchar](50) NOT NULL,
	[Дом] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Склад] PRIMARY KEY CLUSTERED 
(
	[ID_Склада] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[ID_Сотрудника] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Серия_номер] [nvarchar](50) NOT NULL,
	[Пол] [nvarchar](10) NOT NULL,
	[Дата_рождения] [date] NOT NULL,
	[ID_Категории] [int] NOT NULL,
	[Login_s] [nvarchar](50) NULL,
	[Password_s] [nvarchar](50) NULL,
 CONSTRAINT [PK_Сотрудник] PRIMARY KEY CLUSTERED 
(
	[ID_Сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товар]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товар](
	[ID_Товара] [int] IDENTITY(1,1) NOT NULL,
	[ID_Категории_товара] [int] NOT NULL,
	[Стоимость] [int] NULL,
	[Наименование_Товара] [nvarchar](50) NOT NULL,
	[Описание] [nvarchar](50) NULL,
	[Вес] [nvarchar](50) NULL,
	[Ширина] [int] NULL,
	[Высота] [int] NULL,
	[Длинна] [int] NULL,
	[Производитель] [nvarchar](50) NULL,
	[Доп_фото] [nvarchar](50) NULL,
	[Актуальность] [nvarchar](50) NULL,
 CONSTRAINT [PK_Товар] PRIMARY KEY CLUSTERED 
(
	[ID_Товара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тэг_клиента]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тэг_клиента](
	[ID_Тэг_клиента] [int] NOT NULL,
	[Тэг_клиента] [nchar](10) NULL,
 CONSTRAINT [PK_Тэг_клиента] PRIMARY KEY CLUSTERED 
(
	[ID_Тэг_клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 20.02.2026 12:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[ID_Услуги] [int] IDENTITY(1,1) NOT NULL,
	[ID_Изабражения] [int] NULL,
	[Наименование_услуги] [nvarchar](max) NOT NULL,
	[Продолжительность] [nvarchar](50) NOT NULL,
	[Стоимость] [int] NOT NULL,
	[Скидка] [float] NOT NULL,
	[ID_Категории] [int] NOT NULL,
 CONSTRAINT [PK_Услуги] PRIMARY KEY CLUSTERED 
(
	[ID_Услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Изображения] ON 

INSERT [dbo].[Изображения] ([ID_Изображение], [Изображение]) VALUES (1, N'C:\Users\User\Documents\STUDY\Разработка кода ИС\WpfApp2\Услуги школы\Китайский язык.jpg')
INSERT [dbo].[Изображения] ([ID_Изображение], [Изображение]) VALUES (2, N'C:\Users\User\Documents\STUDY\Разработка кода ИС\WpfApp2\Услуги школы\Немецкий язык.png')
INSERT [dbo].[Изображения] ([ID_Изображение], [Изображение]) VALUES (3, N'C:\Users\User\Documents\STUDY\Разработка кода ИС\WpfApp2\Услуги школы\киноклуб.jpg')
SET IDENTITY_INSERT [dbo].[Изображения] OFF
GO
SET IDENTITY_INSERT [dbo].[Категории] ON 

INSERT [dbo].[Категории] ([ID_Категории], [Категория], [Коэф_оплаты]) VALUES (1, N'Английский язык', 100)
INSERT [dbo].[Категории] ([ID_Категории], [Категория], [Коэф_оплаты]) VALUES (2, N'Испанский язык', 100)
INSERT [dbo].[Категории] ([ID_Категории], [Категория], [Коэф_оплаты]) VALUES (3, N'Итальянский язык', 100)
SET IDENTITY_INSERT [dbo].[Категории] OFF
GO
INSERT [dbo].[Категория] ([ID_Категории], [Категория], [Коэф_оплаты]) VALUES (1, N'Английский язык
', 100)
INSERT [dbo].[Категория] ([ID_Категории], [Категория], [Коэф_оплаты]) VALUES (2, N'Испанский язык
', 100)
INSERT [dbo].[Категория] ([ID_Категории], [Категория], [Коэф_оплаты]) VALUES (3, N'Итальянский язык
', 100)
GO
INSERT [dbo].[Категория_товара] ([ID_Категории_товара], [Описание_товара]) VALUES (1, N'Учебные пособия')
INSERT [dbo].[Категория_товара] ([ID_Категории_товара], [Описание_товара]) VALUES (2, N'Аудио- и онлайн-курсы')
INSERT [dbo].[Категория_товара] ([ID_Категории_товара], [Описание_товара]) VALUES (3, N'Методы запоминания')
GO
SET IDENTITY_INSERT [dbo].[Клиент] ON 

INSERT [dbo].[Клиент] ([ID_Клиента], [Фамилия], [Имя], [Отчество], [Телефон], [Email], [Дата_рождения], [Пол_клиента], [Дата_регистрации], [Login], [Password]) VALUES (0, N'Иванов', N'Иван', N'Иванович', N'89274395792', N'Ivanov@mail.ru', CAST(N'2007-02-01' AS Date), N'М', CAST(N'2025-04-11' AS Date), N'12345678', N'12345678')
INSERT [dbo].[Клиент] ([ID_Клиента], [Фамилия], [Имя], [Отчество], [Телефон], [Email], [Дата_рождения], [Пол_клиента], [Дата_регистрации], [Login], [Password]) VALUES (1, N'Васильев', N'Оскар', N'Богданович', N'75858019429 ', N'miturria@verizon.net', CAST(N'1971-01-30' AS Date), N'М', CAST(N'2017-05-28' AS Date), N'123', N'123')
INSERT [dbo].[Клиент] ([ID_Клиента], [Фамилия], [Имя], [Отчество], [Телефон], [Email], [Дата_рождения], [Пол_клиента], [Дата_регистрации], [Login], [Password]) VALUES (2, N'Лазарев', N'Алексей', N'Богданович', N'700557373748 ', N'claesjac@me.com', CAST(N'1977-03-10' AS Date), N'М', CAST(N'2017-01-02' AS Date), N'1234', N'1234')
SET IDENTITY_INSERT [dbo].[Клиент] OFF
GO
SET IDENTITY_INSERT [dbo].[Проведенные_услуги] ON 

INSERT [dbo].[Проведенные_услуги] ([ID_Проведенных_услуг], [ID_Клиента], [ID_Услуги], [Начало_оказания_услуги], [Статус], [ID_Сотрудника], [Коментарий_Сотрудника]) VALUES (2, 37, 41, CAST(N'2019-01-11T18:10:00.000' AS DateTime), N'', 1, NULL)
INSERT [dbo].[Проведенные_услуги] ([ID_Проведенных_услуг], [ID_Клиента], [ID_Услуги], [Начало_оказания_услуги], [Статус], [ID_Сотрудника], [Коментарий_Сотрудника]) VALUES (3, 37, 19, CAST(N'2019-12-01T14:40:00.000' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[Проведенные_услуги] ([ID_Проведенных_услуг], [ID_Клиента], [ID_Услуги], [Начало_оказания_услуги], [Статус], [ID_Сотрудника], [Коментарий_Сотрудника]) VALUES (4, 37, 28, CAST(N'2019-02-11T13:30:00.000' AS DateTime), NULL, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Проведенные_услуги] OFF
GO
INSERT [dbo].[Рабочее_время] ([ID_Рабочее_время], [ID_Сотрудника], [ID_Услуги], [Рабочее_время]) VALUES (1, 7, 1, N'120')
INSERT [dbo].[Рабочее_время] ([ID_Рабочее_время], [ID_Сотрудника], [ID_Услуги], [Рабочее_время]) VALUES (2, 9, 2, N'110')
INSERT [dbo].[Рабочее_время] ([ID_Рабочее_время], [ID_Сотрудника], [ID_Услуги], [Рабочее_время]) VALUES (3, 7, 3, N'100')
GO
SET IDENTITY_INSERT [dbo].[Сотрудник] ON 

INSERT [dbo].[Сотрудник] ([ID_Сотрудника], [Фамилия], [Имя], [Отчество], [Серия_номер], [Пол], [Дата_рождения], [ID_Категории], [Login_s], [Password_s]) VALUES (1, N'Багауов', N'Зульфат', N'Ильнарович', N'9237 874577', N'м', CAST(N'2006-08-04' AS Date), 1, N'098', N'098')
INSERT [dbo].[Сотрудник] ([ID_Сотрудника], [Фамилия], [Имя], [Отчество], [Серия_номер], [Пол], [Дата_рождения], [ID_Категории], [Login_s], [Password_s]) VALUES (2, N'Иванов', N'Алексей', N'Петрович', N'1234 567890', N'м', CAST(N'1985-08-12' AS Date), 1, NULL, NULL)
INSERT [dbo].[Сотрудник] ([ID_Сотрудника], [Фамилия], [Имя], [Отчество], [Серия_номер], [Пол], [Дата_рождения], [ID_Категории], [Login_s], [Password_s]) VALUES (3, N'Смирнова', N'Ольга', N'Владимировна', N'2345 678901', N'ж', CAST(N'1990-03-25' AS Date), 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Сотрудник] OFF
GO
SET IDENTITY_INSERT [dbo].[Товар] ON 

INSERT [dbo].[Товар] ([ID_Товара], [ID_Категории_товара], [Стоимость], [Наименование_Товара], [Описание], [Вес], [Ширина], [Высота], [Длинна], [Производитель], [Доп_фото], [Актуальность]) VALUES (1, 1, 1500, N'Учебник китайского языка', N'Учебник для начинающих', N'0.5 ', 20, 25, 2, N'Издательство "Лингва"', N'', N'Да')
INSERT [dbo].[Товар] ([ID_Товара], [ID_Категории_товара], [Стоимость], [Наименование_Товара], [Описание], [Вес], [Ширина], [Высота], [Длинна], [Производитель], [Доп_фото], [Актуальность]) VALUES (2, 2, 2000, N'Аудиокурс немецкого языка', N'Аудиоматериалы для практики', N'0.2 ', 15, 10, 1, N'LinguaPro', N'', N'Да')
INSERT [dbo].[Товар] ([ID_Товара], [ID_Категории_товара], [Стоимость], [Наименование_Товара], [Описание], [Вес], [Ширина], [Высота], [Длинна], [Производитель], [Доп_фото], [Актуальность]) VALUES (3, 3, 1800, N'Карточки для запоминания слов', N'Набор карточек с лексикой', N'0.3 ', 10, 15, 1, N'WordMaster', N'', N'Да')
SET IDENTITY_INSERT [dbo].[Товар] OFF
GO
SET IDENTITY_INSERT [dbo].[Услуги] ON 

INSERT [dbo].[Услуги] ([ID_Услуги], [ID_Изабражения], [Наименование_услуги], [Продолжительность], [Стоимость], [Скидка], [ID_Категории]) VALUES (1, 1, N'Занятие с репетитором-носителем китайского языка', N'120', 1950, 0, 4)
INSERT [dbo].[Услуги] ([ID_Услуги], [ID_Изабражения], [Наименование_услуги], [Продолжительность], [Стоимость], [Скидка], [ID_Категории]) VALUES (2, 2, N'Индивидуальный урок немецкого языка с преподавателем-носителем языка', N'110', 1340, 0, 5)
INSERT [dbo].[Услуги] ([ID_Услуги], [ID_Изабражения], [Наименование_услуги], [Продолжительность], [Стоимость], [Скидка], [ID_Категории]) VALUES (3, 3, N'Киноклуб китайского языка для студентов', N'100', 1990, 0, 4)
GO
SET IDENTITY_INSERT [dbo].[Услуги] OFF
GO
ALTER TABLE [dbo].[История_покупок]  WITH CHECK ADD  CONSTRAINT [FK_История_покупок_Проведенные_услуги] FOREIGN KEY([ID_Проведенные_услуги])
REFERENCES [dbo].[Проведенные_услуги] ([ID_Проведенных_услуг])
GO
ALTER TABLE [dbo].[История_покупок] CHECK CONSTRAINT [FK_История_покупок_Проведенные_услуги]
GO
ALTER TABLE [dbo].[История_покупок]  WITH CHECK ADD  CONSTRAINT [FK_История_покупок_Товар] FOREIGN KEY([ID_Товара])
REFERENCES [dbo].[Товар] ([ID_Товара])
GO
ALTER TABLE [dbo].[История_покупок] CHECK CONSTRAINT [FK_История_покупок_Товар]
GO
ALTER TABLE [dbo].[Комплект]  WITH CHECK ADD  CONSTRAINT [FK_Комплект_Товар] FOREIGN KEY([ID_Товара1])
REFERENCES [dbo].[Товар] ([ID_Товара])
GO
ALTER TABLE [dbo].[Комплект] CHECK CONSTRAINT [FK_Комплект_Товар]
GO
ALTER TABLE [dbo].[Комплект]  WITH CHECK ADD  CONSTRAINT [FK_Комплект_Товар1] FOREIGN KEY([ID_Товара2])
REFERENCES [dbo].[Товар] ([ID_Товара])
GO
ALTER TABLE [dbo].[Комплект] CHECK CONSTRAINT [FK_Комплект_Товар1]
GO
ALTER TABLE [dbo].[Наличие_товара]  WITH CHECK ADD  CONSTRAINT [FK_Наличие_товара_Склад] FOREIGN KEY([ID_Склада])
REFERENCES [dbo].[Склад] ([ID_Склада])
GO
ALTER TABLE [dbo].[Наличие_товара] CHECK CONSTRAINT [FK_Наличие_товара_Склад]
GO
ALTER TABLE [dbo].[Наличие_товара]  WITH CHECK ADD  CONSTRAINT [FK_Наличие_товара_Товар] FOREIGN KEY([ID_Товара])
REFERENCES [dbo].[Товар] ([ID_Товара])
GO
ALTER TABLE [dbo].[Наличие_товара] CHECK CONSTRAINT [FK_Наличие_товара_Товар]
GO
ALTER TABLE [dbo].[Проведенные_услуги]  WITH CHECK ADD  CONSTRAINT [FK_Проведенные_услуги_Клиент] FOREIGN KEY([ID_Клиента])
REFERENCES [dbo].[Клиент] ([ID_Клиента])
GO
ALTER TABLE [dbo].[Проведенные_услуги] CHECK CONSTRAINT [FK_Проведенные_услуги_Клиент]
GO
ALTER TABLE [dbo].[Проведенные_услуги]  WITH CHECK ADD  CONSTRAINT [FK_Проведенные_услуги_Сотрудник] FOREIGN KEY([ID_Сотрудника])
REFERENCES [dbo].[Сотрудник] ([ID_Сотрудника])
GO
ALTER TABLE [dbo].[Проведенные_услуги] CHECK CONSTRAINT [FK_Проведенные_услуги_Сотрудник]
GO
ALTER TABLE [dbo].[Проведенные_услуги]  WITH CHECK ADD  CONSTRAINT [FK_Проведенные_услуги_Услуги] FOREIGN KEY([ID_Услуги])
REFERENCES [dbo].[Услуги] ([ID_Услуги])
GO
ALTER TABLE [dbo].[Проведенные_услуги] CHECK CONSTRAINT [FK_Проведенные_услуги_Услуги]
GO
ALTER TABLE [dbo].[Продажи_услуг]  WITH CHECK ADD  CONSTRAINT [FK_Продажи_услуг_Проведенные_услуги] FOREIGN KEY([ID_Проведенных_услуг])
REFERENCES [dbo].[Проведенные_услуги] ([ID_Проведенных_услуг])
GO
ALTER TABLE [dbo].[Продажи_услуг] CHECK CONSTRAINT [FK_Продажи_услуг_Проведенные_услуги]
GO
ALTER TABLE [dbo].[Продажи_услуг]  WITH CHECK ADD  CONSTRAINT [FK_Продажи_услуг_Продажи] FOREIGN KEY([ID_Продажи])
REFERENCES [dbo].[Продажи] ([ID_Продажи_услуг])
GO
ALTER TABLE [dbo].[Продажи_услуг] CHECK CONSTRAINT [FK_Продажи_услуг_Продажи]
GO
ALTER TABLE [dbo].[Рабочее_время]  WITH CHECK ADD  CONSTRAINT [FK_Рабочее_время_Сотрудник] FOREIGN KEY([ID_Сотрудника])
REFERENCES [dbo].[Сотрудник] ([ID_Сотрудника])
GO
ALTER TABLE [dbo].[Рабочее_время] CHECK CONSTRAINT [FK_Рабочее_время_Сотрудник]
GO
ALTER TABLE [dbo].[Рабочее_время]  WITH CHECK ADD  CONSTRAINT [FK_Рабочее_время_Услуги] FOREIGN KEY([ID_Услуги])
REFERENCES [dbo].[Услуги] ([ID_Услуги])
GO
ALTER TABLE [dbo].[Рабочее_время] CHECK CONSTRAINT [FK_Рабочее_время_Услуги]
GO
ALTER TABLE [dbo].[Сезонные_товары]  WITH CHECK ADD  CONSTRAINT [FK_Сезонные_товары_Сезон] FOREIGN KEY([ID_Сезона])
REFERENCES [dbo].[Сезон] ([ID_Сезона])
GO
ALTER TABLE [dbo].[Сезонные_товары] CHECK CONSTRAINT [FK_Сезонные_товары_Сезон]
GO
ALTER TABLE [dbo].[Сезонные_товары]  WITH CHECK ADD  CONSTRAINT [FK_Сезонные_товары_Товар] FOREIGN KEY([ID_Товара])
REFERENCES [dbo].[Товар] ([ID_Товара])
GO
ALTER TABLE [dbo].[Сезонные_товары] CHECK CONSTRAINT [FK_Сезонные_товары_Товар]
GO
ALTER TABLE [dbo].[Сканы]  WITH CHECK ADD  CONSTRAINT [FK_Сканы_Услуги] FOREIGN KEY([ID_Услуги])
REFERENCES [dbo].[Услуги] ([ID_Услуги])
GO
ALTER TABLE [dbo].[Сканы] CHECK CONSTRAINT [FK_Сканы_Услуги]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Категории] FOREIGN KEY([ID_Категории])
REFERENCES [dbo].[Категории] ([ID_Категории])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Категории]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Категория_сотрудника] FOREIGN KEY([ID_Категории])
REFERENCES [dbo].[Категория] ([ID_Категории])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Категория_сотрудника]
GO
ALTER TABLE [dbo].[Товар]  WITH CHECK ADD  CONSTRAINT [FK_Товар_Категория_товара] FOREIGN KEY([ID_Категории_товара])
REFERENCES [dbo].[Категория_товара] ([ID_Категории_товара])
GO
ALTER TABLE [dbo].[Товар] CHECK CONSTRAINT [FK_Товар_Категория_товара]
GO
ALTER TABLE [dbo].[Услуги]  WITH CHECK ADD  CONSTRAINT [FK_Услуги_Изображения] FOREIGN KEY([ID_Изабражения])
REFERENCES [dbo].[Изображения] ([ID_Изображение])
GO
ALTER TABLE [dbo].[Услуги] CHECK CONSTRAINT [FK_Услуги_Изображения]
GO
ALTER TABLE [dbo].[Услуги]  WITH CHECK ADD  CONSTRAINT [FK_Услуги_Категории] FOREIGN KEY([ID_Категории])
REFERENCES [dbo].[Категории] ([ID_Категории])
GO
ALTER TABLE [dbo].[Услуги] CHECK CONSTRAINT [FK_Услуги_Категории]
GO
USE [master]
GO
