USE [master]
GO
/****** Object:  Database [Magnit]    Script Date: 20.02.2026 13:00:32 ******/
CREATE DATABASE [Magnit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Magnit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Magnit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Magnit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Magnit_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Magnit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Magnit]
GO
/****** Object:  Table [dbo].[Заказ]    Script Date: 20.02.2026 13:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказ](
	[ID_заказа] [int] IDENTITY(1,1) NOT NULL,
	[ID_пользователя] [int] NOT NULL,
	[ID_товара] [int] NOT NULL,
	[Дата] [date] NULL,
	[Время] [time](7) NULL,
	[Колличество] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Заказ] PRIMARY KEY CLUSTERED 
(
	[ID_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Категория]    Script Date: 20.02.2026 13:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категория](
	[ID_категории] [int] IDENTITY(1,1) NOT NULL,
	[название] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Категория] PRIMARY KEY CLUSTERED 
(
	[ID_категории] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователь]    Script Date: 20.02.2026 13:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователь](
	[ID_пользователя] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Номер_телефона] [nvarchar](50) NOT NULL,
	[пол] [nvarchar](50) NOT NULL,
	[электронная_почта] [nvarchar](50) NOT NULL,
	[Возраст] [date] NULL,
	[Пароль] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Пльзователь] PRIMARY KEY CLUSTERED 
(
	[ID_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Производитель]    Script Date: 20.02.2026 13:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Производитель](
	[ID_производителя] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
	[Адрес] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Производитель] PRIMARY KEY CLUSTERED 
(
	[ID_производителя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товар]    Script Date: 20.02.2026 13:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товар](
	[ID_товара] [int] IDENTITY(1,1) NOT NULL,
	[ID_производителя] [int] NOT NULL,
	[ID_категории] [int] NOT NULL,
	[название] [nvarchar](50) NOT NULL,
	[описание] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Товар] PRIMARY KEY CLUSTERED 
(
	[ID_товара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Заказ] ON 

INSERT [dbo].[Заказ] ([ID_заказа], [ID_пользователя], [ID_товара], [Дата], [Время], [Колличество]) VALUES (1, 1, 3, CAST(N'2025-01-15' AS Date), CAST(N'10:30:15' AS Time), N'1')
INSERT [dbo].[Заказ] ([ID_заказа], [ID_пользователя], [ID_товара], [Дата], [Время], [Колличество]) VALUES (2, 2, 7, CAST(N'2025-01-16' AS Date), CAST(N'14:45:22' AS Time), N'1')
INSERT [dbo].[Заказ] ([ID_заказа], [ID_пользователя], [ID_товара], [Дата], [Время], [Колличество]) VALUES (3, 3, 5, CAST(N'2025-01-17' AS Date), CAST(N'09:12:37' AS Time), N'1')
SET IDENTITY_INSERT [dbo].[Заказ] OFF
GO
SET IDENTITY_INSERT [dbo].[Категория] ON 

INSERT [dbo].[Категория] ([ID_категории], [название]) VALUES (1, N'Уход за кожей')
INSERT [dbo].[Категория] ([ID_категории], [название]) VALUES (2, N'Декоративная косметика')
INSERT [dbo].[Категория] ([ID_категории], [название]) VALUES (3, N'Парфюмерия')
SET IDENTITY_INSERT [dbo].[Категория] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователь] ON 

INSERT [dbo].[Пользователь] ([ID_пользователя], [Фамилия], [Имя], [Отчество], [Номер_телефона], [пол], [электронная_почта], [Возраст], [Пароль]) VALUES (1, N'Иванова', N'Анна', N'Сергеевна', N'+79001234567', N'Ж', N'ivanova@mail.ru', CAST(N'1990-05-15' AS Date), N'Anna1990')
INSERT [dbo].[Пользователь] ([ID_пользователя], [Фамилия], [Имя], [Отчество], [Номер_телефона], [пол], [электронная_почта], [Возраст], [Пароль]) VALUES (2, N'Петров', N'Дмитрий', N'Игоревич', N'+79011234568', N'М', N'1', CAST(N'1985-11-22' AS Date), N'1')
INSERT [dbo].[Пользователь] ([ID_пользователя], [Фамилия], [Имя], [Отчество], [Номер_телефона], [пол], [электронная_почта], [Возраст], [Пароль]) VALUES (3, N'Сидорова', N'Елена', N'Владимировна', N'+79021234569', N'Ж', N'sidorova@yandex.ru', CAST(N'1995-03-08' AS Date), N'Elena95')
SET IDENTITY_INSERT [dbo].[Пользователь] OFF
GO
SET IDENTITY_INSERT [dbo].[Производитель] ON 

INSERT [dbo].[Производитель] ([ID_производителя], [Название], [Адрес]) VALUES (1, N'L''Oreal Paris', N'Париж, Франция')
INSERT [dbo].[Производитель] ([ID_производителя], [Название], [Адрес]) VALUES (2, N'Estée Lauder', N'Нью-Йорк, США')
INSERT [dbo].[Производитель] ([ID_производителя], [Название], [Адрес]) VALUES (3, N'Maybelline', N'Монтрёй, Франция')
SET IDENTITY_INSERT [dbo].[Производитель] OFF
GO
SET IDENTITY_INSERT [dbo].[Товар] ON 

INSERT [dbo].[Товар] ([ID_товара], [ID_производителя], [ID_категории], [название], [описание]) VALUES (1, 1, 1, N'Гель для умывания', N'Нежный гель для очищения кожи')
INSERT [dbo].[Товар] ([ID_товара], [ID_производителя], [ID_категории], [название], [описание]) VALUES (2, 1, 2, N'Увлажняющий крем', N'Интенсивное увлажнение на 24 часа')
INSERT [dbo].[Товар] ([ID_товара], [ID_производителя], [ID_категории], [название], [описание]) VALUES (3, 2, 3, N'Тушь для ресниц', N'Объем и длина за 1 нанесение')
SET IDENTITY_INSERT [dbo].[Товар] OFF
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Пльзователь] FOREIGN KEY([ID_пользователя])
REFERENCES [dbo].[Пользователь] ([ID_пользователя])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Пльзователь]
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Товар] FOREIGN KEY([ID_товара])
REFERENCES [dbo].[Товар] ([ID_товара])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Товар]
GO
ALTER TABLE [dbo].[Товар]  WITH CHECK ADD  CONSTRAINT [FK_Товар_Категория] FOREIGN KEY([ID_категории])
REFERENCES [dbo].[Категория] ([ID_категории])
GO
ALTER TABLE [dbo].[Товар] CHECK CONSTRAINT [FK_Товар_Категория]
GO
ALTER TABLE [dbo].[Товар]  WITH CHECK ADD  CONSTRAINT [FK_Товар_Производитель] FOREIGN KEY([ID_производителя])
REFERENCES [dbo].[Производитель] ([ID_производителя])
GO
ALTER TABLE [dbo].[Товар] CHECK CONSTRAINT [FK_Товар_Производитель]
GO
USE [master]
GO
