USE [master]
GO
/****** Object:  Database [Steam]    Script Date: 20.02.2026 13:01:13 ******/
CREATE DATABASE [Steam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Steam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Steam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Steam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Steam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Steam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Steam]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20.02.2026 13:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Фото] [nvarchar](max) NULL,
	[Ник] [nvarchar](50) NULL,
	[Год_рождения] [date] NULL,
	[Адрес] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Игра]    Script Date: 20.02.2026 13:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Игра](
	[ID_Игры] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](max) NOT NULL,
	[Локализация] [nvarchar](max) NOT NULL,
	[Дата_релиза] [date] NOT NULL,
	[Дата_региона] [date] NOT NULL,
	[Платформы] [nvarchar](max) NOT NULL,
	[Жанры] [nvarchar](max) NOT NULL,
	[ID_Разработчика] [int] NOT NULL,
	[ID_Издателя] [int] NOT NULL,
	[Возростной_рейтинг] [nvarchar](50) NOT NULL,
	[Системные_требования] [nvarchar](max) NOT NULL,
	[Описание] [nvarchar](max) NOT NULL,
	[Среднее_время] [int] NOT NULL,
	[ID_Типа_издания] [int] NOT NULL,
	[ID_Статуса] [int] NOT NULL,
	[Фото] [nvarchar](max) NULL,
 CONSTRAINT [PK_Игра] PRIMARY KEY CLUSTERED 
(
	[ID_Игры] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Издатель]    Script Date: 20.02.2026 13:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Издатель](
	[ID_Издателя] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
	[Страна] [nvarchar](50) NOT NULL,
	[Год] [nvarchar](50) NOT NULL,
	[Фото] [nvarchar](max) NULL,
 CONSTRAINT [PK_Издатель] PRIMARY KEY CLUSTERED 
(
	[ID_Издателя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Колекция]    Script Date: 20.02.2026 13:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Колекция](
	[ID_Колекции] [int] IDENTITY(1,1) NOT NULL,
	[ID_Игры] [int] NOT NULL,
	[ID_User] [int] NOT NULL,
	[ID_Сатуса_прохождения] [int] NOT NULL,
	[Часы_игры] [decimal](18, 0) NOT NULL,
	[Оценка] [decimal](18, 0) NULL,
	[Пользовательские_тэги] [nvarchar](max) NULL,
 CONSTRAINT [PK_Колекция] PRIMARY KEY CLUSTERED 
(
	[ID_Колекции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Контент]    Script Date: 20.02.2026 13:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Контент](
	[ID_Контента] [int] IDENTITY(1,1) NOT NULL,
	[ID_Игры] [int] NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
	[Тип_контента] [nvarchar](50) NOT NULL,
	[Описание] [nvarchar](50) NOT NULL,
	[Дата] [date] NOT NULL,
	[Цена] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Контент] PRIMARY KEY CLUSTERED 
(
	[ID_Контента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Критик]    Script Date: 20.02.2026 13:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Критик](
	[ID_Критика] [int] IDENTITY(1,1) NOT NULL,
	[Ник] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Критик] PRIMARY KEY CLUSTERED 
(
	[ID_Критика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Отзывы]    Script Date: 20.02.2026 13:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отзывы](
	[ID_Отзыва] [int] IDENTITY(1,1) NOT NULL,
	[ID_Игры] [int] NOT NULL,
	[ID_User] [int] NOT NULL,
	[Тип_автора] [nvarchar](50) NULL,
	[Текст_рецензии] [nvarchar](max) NULL,
	[Рейтинг] [int] NULL,
	[Дата] [date] NULL,
	[Лайки] [int] NULL,
	[Дизлайки] [int] NULL,
 CONSTRAINT [PK_Отзывы] PRIMARY KEY CLUSTERED 
(
	[ID_Отзыва] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Разработчик]    Script Date: 20.02.2026 13:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Разработчик](
	[ID_Разработчика] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
	[Страна] [nvarchar](50) NOT NULL,
	[Год] [nvarchar](50) NOT NULL,
	[специализация] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Разработчик] PRIMARY KEY CLUSTERED 
(
	[ID_Разработчика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус]    Script Date: 20.02.2026 13:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус](
	[ID_Статуса] [int] NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Статус] PRIMARY KEY CLUSTERED 
(
	[ID_Статуса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус_прохождения]    Script Date: 20.02.2026 13:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус_прохождения](
	[ID_Статуса_прохождения] [int] NOT NULL,
	[Статус] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Статус_прохождения] PRIMARY KEY CLUSTERED 
(
	[ID_Статуса_прохождения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тип_Издания]    Script Date: 20.02.2026 13:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тип_Издания](
	[ID_Типа_издания] [int] NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Тип_Издания] PRIMARY KEY CLUSTERED 
(
	[ID_Типа_издания] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID_User], [Login], [Password], [Фото], [Ник], [Год_рождения], [Адрес]) VALUES (1, N'1', N'1', NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([ID_User], [Login], [Password], [Фото], [Ник], [Год_рождения], [Адрес]) VALUES (2, N'2', N'2', NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([ID_User], [Login], [Password], [Фото], [Ник], [Год_рождения], [Адрес]) VALUES (3, N'3', N'3', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Игра] ON 

INSERT [dbo].[Игра] ([ID_Игры], [Название], [Локализация], [Дата_релиза], [Дата_региона], [Платформы], [Жанры], [ID_Разработчика], [ID_Издателя], [Возростной_рейтинг], [Системные_требования], [Описание], [Среднее_время], [ID_Типа_издания], [ID_Статуса], [Фото]) VALUES (1234, N'Diablo IV ', N' Диабло 4', CAST(N'2023-06-06' AS Date), CAST(N'2023-06-06' AS Date), N'PC, PS4, PS5, XBO', N'RPG, action', 9, 4, N'PEGI 18, ESRB M', N'Intel i5, 8GB RAM, GTX 660', N'Хак-н-слэш в мире Санктуария', 70, 2, 2, N'Diablo IV 1.webp')
INSERT [dbo].[Игра] ([ID_Игры], [Название], [Локализация], [Дата_релиза], [Дата_региона], [Платформы], [Жанры], [ID_Разработчика], [ID_Издателя], [Возростной_рейтинг], [Системные_требования], [Описание], [Среднее_время], [ID_Типа_издания], [ID_Статуса], [Фото]) VALUES (12345, N'The Witcher 3: Wild Hunt ', N' Ведьмак 3: Дикая Охота', CAST(N'2015-05-19' AS Date), CAST(N'2015-05-18' AS Date), N'PC, PS4, XBO, NS', N'RPG, action', 1, 1, N'PEGI 18, ESRB M', N'Intel i5, 8GB RAM, GTX 770', N'Открытый мир, ветвящийся сюжет, алхимия', 100, 1, 2, N'The Witcher3 1.webp')
INSERT [dbo].[Игра] ([ID_Игры], [Название], [Локализация], [Дата_релиза], [Дата_региона], [Платформы], [Жанры], [ID_Разработчика], [ID_Издателя], [Возростной_рейтинг], [Системные_требования], [Описание], [Среднее_время], [ID_Типа_издания], [ID_Статуса], [Фото]) VALUES (23456, N'Cyberpunk 2077 ', N' Киберпанк 2077', CAST(N'2020-12-10' AS Date), CAST(N'2020-12-10' AS Date), N'PC, PS4, XBO, PS5, XSX', N'RPG, action', 1, 1, N'PEGI 18, ESRB M', N'Intel i7, 16GB RAM, RTX 2060', N'Футуристический RPG-шутер', 60, 2, 2, N'Cyberpunk 2077 1.webp')
SET IDENTITY_INSERT [dbo].[Игра] OFF
GO
SET IDENTITY_INSERT [dbo].[Издатель] ON 

INSERT [dbo].[Издатель] ([ID_Издателя], [Название], [Страна], [Год], [Фото]) VALUES (1, N' CD Projekt', N'Польша', N'1994', N'CD Projekt Red.webp')
INSERT [dbo].[Издатель] ([ID_Издателя], [Название], [Страна], [Год], [Фото]) VALUES (2, N' Bandai Namco', N'Япония', N'1986', N'Bandai.webp')
INSERT [dbo].[Издатель] ([ID_Издателя], [Название], [Страна], [Год], [Фото]) VALUES (3, N' Annapurna', N'США', N'2016', N'Annapurna Interactive.webp')
SET IDENTITY_INSERT [dbo].[Издатель] OFF
GO
SET IDENTITY_INSERT [dbo].[Колекция] ON 

INSERT [dbo].[Колекция] ([ID_Колекции], [ID_Игры], [ID_User], [ID_Сатуса_прохождения], [Часы_игры], [Оценка], [Пользовательские_тэги]) VALUES (1, 12345, 1, 1, CAST(150 AS Decimal(18, 0)), CAST(10 AS Decimal(18, 0)), N'RPG')
INSERT [dbo].[Колекция] ([ID_Колекции], [ID_Игры], [ID_User], [ID_Сатуса_прохождения], [Часы_игры], [Оценка], [Пользовательские_тэги]) VALUES (2, 34567, 2, 1, CAST(90 AS Decimal(18, 0)), CAST(9 AS Decimal(18, 0)), N'Сложные игры')
INSERT [dbo].[Колекция] ([ID_Колекции], [ID_Игры], [ID_User], [ID_Сатуса_прохождения], [Часы_игры], [Оценка], [Пользовательские_тэги]) VALUES (3, 45678, 3, 1, CAST(20 AS Decimal(18, 0)), CAST(7 AS Decimal(18, 0)), N'Инди')
SET IDENTITY_INSERT [dbo].[Колекция] OFF
GO
SET IDENTITY_INSERT [dbo].[Контент] ON 

INSERT [dbo].[Контент] ([ID_Контента], [ID_Игры], [Название], [Тип_контента], [Описание], [Дата], [Цена]) VALUES (1, 12345, N'Hearts of Stone', N'DLC', N'Дополнительная история', CAST(N'2015-10-13' AS Date), N'9,99')
INSERT [dbo].[Контент] ([ID_Контента], [ID_Игры], [Название], [Тип_контента], [Описание], [Дата], [Цена]) VALUES (2, 12345, N'Blood and Wine', N'DLC', N'Новый регион Туссент', CAST(N'2016-05-31' AS Date), N'19,99')
INSERT [dbo].[Контент] ([ID_Контента], [ID_Игры], [Название], [Тип_контента], [Описание], [Дата], [Цена]) VALUES (3, 23456, N'Cyberpunk 2077 Collector''s Edition', N'Коллекционное издание', N'Статуэтка, артбук', CAST(N'2020-12-10' AS Date), N'249,99')
SET IDENTITY_INSERT [dbo].[Контент] OFF
GO
SET IDENTITY_INSERT [dbo].[Критик] ON 

INSERT [dbo].[Критик] ([ID_Критика], [Ник]) VALUES (111, N'IGN')
INSERT [dbo].[Критик] ([ID_Критика], [Ник]) VALUES (222, N'Kotaku')
INSERT [dbo].[Критик] ([ID_Критика], [Ник]) VALUES (333, N'GameSpot')
SET IDENTITY_INSERT [dbo].[Критик] OFF
GO
SET IDENTITY_INSERT [dbo].[Отзывы] ON 

INSERT [dbo].[Отзывы] ([ID_Отзыва], [ID_Игры], [ID_User], [Тип_автора], [Текст_рецензии], [Рейтинг], [Дата], [Лайки], [Дизлайки]) VALUES (1, 12345, 1, N'Пользователь', N'Лучшая RPG всех времен!', 10, CAST(N'2023-06-15' AS Date), 245, 12)
INSERT [dbo].[Отзывы] ([ID_Отзыва], [ID_Игры], [ID_User], [Тип_автора], [Текст_рецензии], [Рейтинг], [Дата], [Лайки], [Дизлайки]) VALUES (2, 23456, 11, N'Критик', N'Неоднозначный релиз с потенциалом', 7, CAST(N'2020-12-12' AS Date), 1500, 300)
INSERT [dbo].[Отзывы] ([ID_Отзыва], [ID_Игры], [ID_User], [Тип_автора], [Текст_рецензии], [Рейтинг], [Дата], [Лайки], [Дизлайки]) VALUES (3, 34567, 2, N'Пользователь', N'Идеальный souls-like', 9, CAST(N'2023-03-01' AS Date), 189, 5)
SET IDENTITY_INSERT [dbo].[Отзывы] OFF
GO
SET IDENTITY_INSERT [dbo].[Разработчик] ON 

INSERT [dbo].[Разработчик] ([ID_Разработчика], [Название], [Страна], [Год], [специализация]) VALUES (1, N'CD Projekt Red ', N'Польша', N'1994', N'AAA')
INSERT [dbo].[Разработчик] ([ID_Разработчика], [Название], [Страна], [Год], [специализация]) VALUES (2, N'FromSoftware ', N'Япония', N'1986', N'AAA')
INSERT [dbo].[Разработчик] ([ID_Разработчика], [Название], [Страна], [Год], [специализация]) VALUES (3, N'BlueTwelve ', N'Франция', N'2014', N'Инди')
SET IDENTITY_INSERT [dbo].[Разработчик] OFF
GO
INSERT [dbo].[Статус] ([ID_Статуса], [Название]) VALUES (1, N'В разработке')
INSERT [dbo].[Статус] ([ID_Статуса], [Название]) VALUES (2, N'Доступно')
INSERT [dbo].[Статус] ([ID_Статуса], [Название]) VALUES (3, N'Снято с продаж')
GO
INSERT [dbo].[Статус_прохождения] ([ID_Статуса_прохождения], [Статус]) VALUES (1, N'Пройдено')
INSERT [dbo].[Статус_прохождения] ([ID_Статуса_прохождения], [Статус]) VALUES (2, N'В процессе')
INSERT [dbo].[Статус_прохождения] ([ID_Статуса_прохождения], [Статус]) VALUES (3, N'В планах')
GO
INSERT [dbo].[Тип_Издания] ([ID_Типа_издания], [Название]) VALUES (1, N'Коллекционное')
INSERT [dbo].[Тип_Издания] ([ID_Типа_издания], [Название]) VALUES (2, N'Стандартное')
GO
ALTER TABLE [dbo].[Игра]  WITH CHECK ADD  CONSTRAINT [FK_Игра_Издатель] FOREIGN KEY([ID_Издателя])
REFERENCES [dbo].[Издатель] ([ID_Издателя])
GO
ALTER TABLE [dbo].[Игра] CHECK CONSTRAINT [FK_Игра_Издатель]
GO
ALTER TABLE [dbo].[Игра]  WITH CHECK ADD  CONSTRAINT [FK_Игра_Разработчик] FOREIGN KEY([ID_Разработчика])
REFERENCES [dbo].[Разработчик] ([ID_Разработчика])
GO
ALTER TABLE [dbo].[Игра] CHECK CONSTRAINT [FK_Игра_Разработчик]
GO
ALTER TABLE [dbo].[Игра]  WITH CHECK ADD  CONSTRAINT [FK_Игра_Статус] FOREIGN KEY([ID_Статуса])
REFERENCES [dbo].[Статус] ([ID_Статуса])
GO
ALTER TABLE [dbo].[Игра] CHECK CONSTRAINT [FK_Игра_Статус]
GO
ALTER TABLE [dbo].[Игра]  WITH CHECK ADD  CONSTRAINT [FK_Игра_Тип_Издания] FOREIGN KEY([ID_Типа_издания])
REFERENCES [dbo].[Тип_Издания] ([ID_Типа_издания])
GO
ALTER TABLE [dbo].[Игра] CHECK CONSTRAINT [FK_Игра_Тип_Издания]
GO
ALTER TABLE [dbo].[Колекция]  WITH CHECK ADD  CONSTRAINT [FK_Колекция_User] FOREIGN KEY([ID_User])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Колекция] CHECK CONSTRAINT [FK_Колекция_User]
GO
ALTER TABLE [dbo].[Колекция]  WITH CHECK ADD  CONSTRAINT [FK_Колекция_Игра] FOREIGN KEY([ID_Игры])
REFERENCES [dbo].[Игра] ([ID_Игры])
GO
ALTER TABLE [dbo].[Колекция] CHECK CONSTRAINT [FK_Колекция_Игра]
GO
ALTER TABLE [dbo].[Колекция]  WITH CHECK ADD  CONSTRAINT [FK_Колекция_Статус_прохождения] FOREIGN KEY([ID_Сатуса_прохождения])
REFERENCES [dbo].[Статус_прохождения] ([ID_Статуса_прохождения])
GO
ALTER TABLE [dbo].[Колекция] CHECK CONSTRAINT [FK_Колекция_Статус_прохождения]
GO
ALTER TABLE [dbo].[Контент]  WITH CHECK ADD  CONSTRAINT [FK_Контент_Игра] FOREIGN KEY([ID_Игры])
REFERENCES [dbo].[Игра] ([ID_Игры])
GO
ALTER TABLE [dbo].[Контент] CHECK CONSTRAINT [FK_Контент_Игра]
GO
ALTER TABLE [dbo].[Отзывы]  WITH CHECK ADD  CONSTRAINT [FK_Отзывы_User] FOREIGN KEY([ID_User])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Отзывы] CHECK CONSTRAINT [FK_Отзывы_User]
GO
ALTER TABLE [dbo].[Отзывы]  WITH CHECK ADD  CONSTRAINT [FK_Отзывы_Игра] FOREIGN KEY([ID_Игры])
REFERENCES [dbo].[Игра] ([ID_Игры])
GO
ALTER TABLE [dbo].[Отзывы] CHECK CONSTRAINT [FK_Отзывы_Игра]
GO
USE [master]
GO
