USE [master]
GO
/****** Object:  Database [VetClinikum]    Script Date: 20.02.2026 13:02:12 ******/
CREATE DATABASE [VetClinikum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VetClinikum', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\VetClinikum.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VetClinikum_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\VetClinikum_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VetClinikum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VetClinikum]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20.02.2026 13:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID_user] [int] IDENTITY(1,1) NOT NULL,
	[Номер_телефона] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](50) NOT NULL,
	[ID_роли] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[История_посещений]    Script Date: 20.02.2026 13:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[История_посещений](
	[ID_истории] [int] IDENTITY(1,1) NOT NULL,
	[ID_времени] [int] NOT NULL,
	[ID_питомца] [int] NOT NULL,
	[Время_записи] [time](7) NOT NULL,
	[Стоимость] [nvarchar](50) NULL,
	[Статус_записи] [int] NULL,
	[Коментарий] [nvarchar](50) NULL,
	[Скан] [nvarchar](50) NULL,
	[Скан_2] [nvarchar](50) NULL,
	[Скан_3] [nvarchar](50) NULL,
 CONSTRAINT [PK_История_посещений] PRIMARY KEY CLUSTERED 
(
	[ID_истории] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Категория_питомца]    Script Date: 20.02.2026 13:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категория_питомца](
	[ID_вида] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Категория_питомца] PRIMARY KEY CLUSTERED 
(
	[ID_вида] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Категория_услуг]    Script Date: 20.02.2026 13:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категория_услуг](
	[ID_Категории] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
	[Описание_услуг] [nvarchar](max) NOT NULL,
	[Фото] [nvarchar](max) NOT NULL,
	[Цена] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Категория_услуг] PRIMARY KEY CLUSTERED 
(
	[ID_Категории] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 20.02.2026 13:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[ID_клиента] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Номер_телефона] [nvarchar](50) NOT NULL,
	[Электронная_почта] [nvarchar](50) NULL,
	[Дата_рождения] [date] NULL,
	[Город] [nvarchar](50) NULL,
	[Улица] [nvarchar](50) NULL,
	[Дом] [nvarchar](50) NULL,
	[Квартира] [nvarchar](50) NULL,
	[ID_user] [int] NOT NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[ID_клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Питомцы]    Script Date: 20.02.2026 13:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Питомцы](
	[ID_питомца] [int] IDENTITY(1,1) NOT NULL,
	[Кличка] [nvarchar](50) NOT NULL,
	[ID_вида] [int] NOT NULL,
	[Порода] [nvarchar](50) NOT NULL,
	[Пол] [nvarchar](50) NULL,
	[Дата_рождения] [date] NULL,
	[Вес] [nvarchar](50) NULL,
	[Рост] [nvarchar](50) NULL,
	[Группа_крови] [nvarchar](50) NULL,
	[Возраст] [nvarchar](50) NULL,
	[Аллергии] [nvarchar](max) NULL,
	[Заболевания_хронический] [nvarchar](max) NULL,
	[Фото] [nvarchar](max) NULL,
	[ID_клиента] [int] NOT NULL,
 CONSTRAINT [PK_Питомцы] PRIMARY KEY CLUSTERED 
(
	[ID_питомца] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Рабочее_время]    Script Date: 20.02.2026 13:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Рабочее_время](
	[ID_времени] [int] IDENTITY(1,1) NOT NULL,
	[ID_сотрудника] [int] NOT NULL,
	[ID_услуги] [int] NOT NULL,
	[Дата] [date] NOT NULL,
	[Время_Начало] [time](7) NOT NULL,
	[Время_завершения] [time](7) NULL,
 CONSTRAINT [PK_Рабочее_время] PRIMARY KEY CLUSTERED 
(
	[ID_времени] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 20.02.2026 13:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[ID_роли] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[ID_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 20.02.2026 13:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[ID_сотрудника] [int] IDENTITY(1,1) NOT NULL,
	[ID_user] [int] NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Образование] [nvarchar](max) NULL,
	[Должность] [nvarchar](50) NULL,
	[Должность_2] [nvarchar](50) NULL,
	[Должность_3] [nvarchar](50) NULL,
	[Опыт] [nvarchar](50) NULL,
	[Фото] [nvarchar](max) NULL,
	[ID_статуса] [int] NULL,
 CONSTRAINT [PK_Сотрудник] PRIMARY KEY CLUSTERED 
(
	[ID_сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус]    Script Date: 20.02.2026 13:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус](
	[ID_статуса] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Статус] PRIMARY KEY CLUSTERED 
(
	[ID_статуса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус_записи]    Script Date: 20.02.2026 13:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус_записи](
	[id_статус_записи] [int] NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Статус_записи] PRIMARY KEY CLUSTERED 
(
	[id_статус_записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 20.02.2026 13:02:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[ID_услуги] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](max) NOT NULL,
	[Стоимость] [nvarchar](50) NULL,
	[Длительность] [nvarchar](50) NULL,
	[ID_категории] [int] NOT NULL,
 CONSTRAINT [PK_Услуги] PRIMARY KEY CLUSTERED 
(
	[ID_услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID_user], [Номер_телефона], [Пароль], [ID_роли]) VALUES (1, N'123', N'123', 1)
INSERT [dbo].[User] ([ID_user], [Номер_телефона], [Пароль], [ID_роли]) VALUES (2, N'7 (890) 191-52-75', N'anjcwpmzxc', 1)
INSERT [dbo].[User] ([ID_user], [Номер_телефона], [Пароль], [ID_роли]) VALUES (3, N'7 (768) 840-41-76', N'ebjtvjtaeo', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[История_посещений] ON 

INSERT [dbo].[История_посещений] ([ID_истории], [ID_времени], [ID_питомца], [Время_записи], [Стоимость], [Статус_записи], [Коментарий], [Скан], [Скан_2], [Скан_3]) VALUES (1, 1, 1, CAST(N'10:00:00' AS Time), N'1850', 2, N'', N'', N'', N'')
INSERT [dbo].[История_посещений] ([ID_истории], [ID_времени], [ID_питомца], [Время_записи], [Стоимость], [Статус_записи], [Коментарий], [Скан], [Скан_2], [Скан_3]) VALUES (2, 1, 2, CAST(N'10:30:00' AS Time), N'1850', 2, N'', N'', N'', N'')
INSERT [dbo].[История_посещений] ([ID_истории], [ID_времени], [ID_питомца], [Время_записи], [Стоимость], [Статус_записи], [Коментарий], [Скан], [Скан_2], [Скан_3]) VALUES (3, 1, 3, CAST(N'11:15:00' AS Time), N'1850', 2, N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[История_посещений] OFF
GO
SET IDENTITY_INSERT [dbo].[Категория_питомца] ON 

INSERT [dbo].[Категория_питомца] ([ID_вида], [Название]) VALUES (1, N'Кошка')
INSERT [dbo].[Категория_питомца] ([ID_вида], [Название]) VALUES (2, N'Собака')
INSERT [dbo].[Категория_питомца] ([ID_вида], [Название]) VALUES (3, N'Енот')
SET IDENTITY_INSERT [dbo].[Категория_питомца] OFF
GO
SET IDENTITY_INSERT [dbo].[Категория_услуг] ON 

INSERT [dbo].[Категория_услуг] ([ID_Категории], [Название], [Описание_услуг], [Фото], [Цена]) VALUES (1, N'Терапия', N'Втерапевтическомотделенииклиникамбулаторноистационарнопроводитсядиагностикаилечениеболезнейпищеварительной,дыхательной,мочевыделительнойсистеморганизма.', N'', N'от 1850')
INSERT [dbo].[Категория_услуг] ([ID_Категории], [Название], [Описание_услуг], [Фото], [Цена]) VALUES (2, N'Вакцинация', N'Проводимежегоднуюофициальнуювакцинациюживотныхнаоснованииразрешениянапротивоэпизоотическиемероприятия.Вакцинациямногократноснижаетрискзаболеваниянаиболееопаснымидлякошекисобакинфекционнымизаболеваниями.', N'', N'от 2400')
INSERT [dbo].[Категория_услуг] ([ID_Категории], [Название], [Описание_услуг], [Фото], [Цена]) VALUES (3, N'УЗИ', N'ПроводимУЗИкошкамисобакамнасовременныхаппаратахсдатчикамивысокойчастотыивозможностьюпроведениядопплерографии.Процедурапроводитсябезпримененияседативныхпрепаратов,безболезненнадляживотного.', N'', N'от 1400')
SET IDENTITY_INSERT [dbo].[Категория_услуг] OFF
GO
SET IDENTITY_INSERT [dbo].[Клиенты] ON 

INSERT [dbo].[Клиенты] ([ID_клиента], [Фамилия], [Имя], [Отчество], [Номер_телефона], [Электронная_почта], [Дата_рождения], [Город], [Улица], [Дом], [Квартира], [ID_user]) VALUES (1, N'Соловьева', N'Алина', N'Леонидовна', N'75169604271', N'Alina159@outlook.com', CAST(N'1994-02-15' AS Date), N'Казань', N'Баумана', N'15', N'42', 1)
INSERT [dbo].[Клиенты] ([ID_клиента], [Фамилия], [Имя], [Отчество], [Номер_телефона], [Электронная_почта], [Дата_рождения], [Город], [Улица], [Дом], [Квартира], [ID_user]) VALUES (2, N'Гордеев', N'Федор', N'Семенович', N'78901915275', N'Fedor31@rambler.ru', CAST(N'1994-02-05' AS Date), N'Казань', N'Декабристов', N'125', N'17', 2)
INSERT [dbo].[Клиенты] ([ID_клиента], [Фамилия], [Имя], [Отчество], [Номер_телефона], [Электронная_почта], [Дата_рождения], [Город], [Улица], [Дом], [Квартира], [ID_user]) VALUES (3, N'Лобанов', N'Федот', N'Юлианович', N'77688404176', N'Fedot18@rambler.ru', CAST(N'1995-08-10' AS Date), N'Казань', N'пр Победы', N'48', N'93', 3)
SET IDENTITY_INSERT [dbo].[Клиенты] OFF
GO
SET IDENTITY_INSERT [dbo].[Питомцы] ON 

INSERT [dbo].[Питомцы] ([ID_питомца], [Кличка], [ID_вида], [Порода], [Пол], [Дата_рождения], [Вес], [Рост], [Группа_крови], [Возраст], [Аллергии], [Заболевания_хронический], [Фото], [ID_клиента]) VALUES (1, N'Лексус', 1, N'Мейн-кун', N'Мальчик', CAST(N'2013-03-06' AS Date), N'10 кг', N'', N'', N'12', N'', N'', N'Лексус.png', 1)
INSERT [dbo].[Питомцы] ([ID_питомца], [Кличка], [ID_вида], [Порода], [Пол], [Дата_рождения], [Вес], [Рост], [Группа_крови], [Возраст], [Аллергии], [Заболевания_хронический], [Фото], [ID_клиента]) VALUES (2, N'Мартен', 2, N'Сиба-ину', N'Мальчик', CAST(N'2022-11-17' AS Date), N'13 кг', N'', N'', N'2', N'', N'', N'Мартен.png', 2)
INSERT [dbo].[Питомцы] ([ID_питомца], [Кличка], [ID_вида], [Порода], [Пол], [Дата_рождения], [Вес], [Рост], [Группа_крови], [Возраст], [Аллергии], [Заболевания_хронический], [Фото], [ID_клиента]) VALUES (3, N'Рокки', 3, N'Полоскун', N'Мальчик', CAST(N'2018-09-15' AS Date), N'9 кг', N'', N'', N'6', N'', N'', N'Рокки.png', 3)
SET IDENTITY_INSERT [dbo].[Питомцы] OFF
GO
SET IDENTITY_INSERT [dbo].[Рабочее_время] ON 

INSERT [dbo].[Рабочее_время] ([ID_времени], [ID_сотрудника], [ID_услуги], [Дата], [Время_Начало], [Время_завершения]) VALUES (1, 1, 48, CAST(N'2025-03-28' AS Date), CAST(N'10:00:00' AS Time), CAST(N'16:00:00' AS Time))
INSERT [dbo].[Рабочее_время] ([ID_времени], [ID_сотрудника], [ID_услуги], [Дата], [Время_Начало], [Время_завершения]) VALUES (2, 2, 1, CAST(N'2025-03-27' AS Date), CAST(N'10:00:00' AS Time), CAST(N'15:00:00' AS Time))
INSERT [dbo].[Рабочее_время] ([ID_времени], [ID_сотрудника], [ID_услуги], [Дата], [Время_Начало], [Время_завершения]) VALUES (3, 2, 2, CAST(N'2025-03-27' AS Date), CAST(N'15:00:00' AS Time), CAST(N'20:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Рабочее_время] OFF
GO
SET IDENTITY_INSERT [dbo].[Роли] ON 

INSERT [dbo].[Роли] ([ID_роли], [Название]) VALUES (1, N'Клиент')
INSERT [dbo].[Роли] ([ID_роли], [Название]) VALUES (2, N'Сотрудник')
SET IDENTITY_INSERT [dbo].[Роли] OFF
GO
SET IDENTITY_INSERT [dbo].[Сотрудник] ON 

INSERT [dbo].[Сотрудник] ([ID_сотрудника], [ID_user], [Фамилия], [Имя], [Отчество], [Образование], [Должность], [Должность_2], [Должность_3], [Опыт], [Фото], [ID_статуса]) VALUES (1, 14, N'Козлова', N'Екатерина', N'Сергеевна', N'Санкт-Петербургская академия ветеринарной медицины, окончание в 2005 году', N'Хирургия', N' УЗИ-диагностика', N' Терапия', N'5 лет', N'Козлова Екатерина Сергеевна.png', NULL)
INSERT [dbo].[Сотрудник] ([ID_сотрудника], [ID_user], [Фамилия], [Имя], [Отчество], [Образование], [Должность], [Должность_2], [Должность_3], [Опыт], [Фото], [ID_статуса]) VALUES (2, 15, N'Артемьева', N'Полина', N'Владимировна', N'Санкт-Петербургский государственный университет ветеринарной медицины', N'Терапия', N' Вакцинация', N'', N'3 года', N'Артемьева Полина Владимировна.png', NULL)
INSERT [dbo].[Сотрудник] ([ID_сотрудника], [ID_user], [Фамилия], [Имя], [Отчество], [Образование], [Должность], [Должность_2], [Должность_3], [Опыт], [Фото], [ID_статуса]) VALUES (3, 16, N'Богданова', N'Александра', N'Сергеевна', N'"Санкт-Петербургский государственный университет ветеринарной медицины', N'Терапия
', NULL, NULL, N'2 года
', N'Богданова Александра Сергеевна.png
', NULL)
SET IDENTITY_INSERT [dbo].[Сотрудник] OFF
GO
INSERT [dbo].[Статус_записи] ([id_статус_записи], [Название]) VALUES (1, N'На обработке')
INSERT [dbo].[Статус_записи] ([id_статус_записи], [Название]) VALUES (2, N'Одобрено')
INSERT [dbo].[Статус_записи] ([id_статус_записи], [Название]) VALUES (3, N'Отклонено')
GO
SET IDENTITY_INSERT [dbo].[Услуги] ON 

INSERT [dbo].[Услуги] ([ID_услуги], [Название], [Стоимость], [Длительность], [ID_категории]) VALUES (1, N'Первичный прием терапевта', N'1850', N'', 1)
INSERT [dbo].[Услуги] ([ID_услуги], [Название], [Стоимость], [Длительность], [ID_категории]) VALUES (2, N'Повторный прием терапевта, уточнение назначений', N'1400', N'', 1)
INSERT [dbo].[Услуги] ([ID_услуги], [Название], [Стоимость], [Длительность], [ID_категории]) VALUES (3, N'Первичный прием ведущего терапевта, Соловьева И.В.', N'2400', N'', 1)
GO
SET IDENTITY_INSERT [dbo].[Услуги] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Роли] FOREIGN KEY([ID_роли])
REFERENCES [dbo].[Роли] ([ID_роли])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Роли]
GO
ALTER TABLE [dbo].[История_посещений]  WITH CHECK ADD  CONSTRAINT [FK_История_посещений_Питомцы] FOREIGN KEY([ID_питомца])
REFERENCES [dbo].[Питомцы] ([ID_питомца])
GO
ALTER TABLE [dbo].[История_посещений] CHECK CONSTRAINT [FK_История_посещений_Питомцы]
GO
ALTER TABLE [dbo].[История_посещений]  WITH CHECK ADD  CONSTRAINT [FK_История_посещений_Рабочее_время] FOREIGN KEY([ID_времени])
REFERENCES [dbo].[Рабочее_время] ([ID_времени])
GO
ALTER TABLE [dbo].[История_посещений] CHECK CONSTRAINT [FK_История_посещений_Рабочее_время]
GO
ALTER TABLE [dbo].[История_посещений]  WITH CHECK ADD  CONSTRAINT [FK_История_посещений_Статус_записи] FOREIGN KEY([Статус_записи])
REFERENCES [dbo].[Статус_записи] ([id_статус_записи])
GO
ALTER TABLE [dbo].[История_посещений] CHECK CONSTRAINT [FK_История_посещений_Статус_записи]
GO
ALTER TABLE [dbo].[Клиенты]  WITH CHECK ADD  CONSTRAINT [FK_Клиенты_User] FOREIGN KEY([ID_user])
REFERENCES [dbo].[User] ([ID_user])
GO
ALTER TABLE [dbo].[Клиенты] CHECK CONSTRAINT [FK_Клиенты_User]
GO
ALTER TABLE [dbo].[Питомцы]  WITH CHECK ADD  CONSTRAINT [FK_Питомцы_Категория_питомца] FOREIGN KEY([ID_вида])
REFERENCES [dbo].[Категория_питомца] ([ID_вида])
GO
ALTER TABLE [dbo].[Питомцы] CHECK CONSTRAINT [FK_Питомцы_Категория_питомца]
GO
ALTER TABLE [dbo].[Питомцы]  WITH CHECK ADD  CONSTRAINT [FK_Питомцы_Клиенты] FOREIGN KEY([ID_клиента])
REFERENCES [dbo].[Клиенты] ([ID_клиента])
GO
ALTER TABLE [dbo].[Питомцы] CHECK CONSTRAINT [FK_Питомцы_Клиенты]
GO
ALTER TABLE [dbo].[Рабочее_время]  WITH CHECK ADD  CONSTRAINT [FK_Рабочее_время_Сотрудник] FOREIGN KEY([ID_сотрудника])
REFERENCES [dbo].[Сотрудник] ([ID_сотрудника])
GO
ALTER TABLE [dbo].[Рабочее_время] CHECK CONSTRAINT [FK_Рабочее_время_Сотрудник]
GO
ALTER TABLE [dbo].[Рабочее_время]  WITH CHECK ADD  CONSTRAINT [FK_Рабочее_время_Услуги] FOREIGN KEY([ID_услуги])
REFERENCES [dbo].[Услуги] ([ID_услуги])
GO
ALTER TABLE [dbo].[Рабочее_время] CHECK CONSTRAINT [FK_Рабочее_время_Услуги]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_User] FOREIGN KEY([ID_user])
REFERENCES [dbo].[User] ([ID_user])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_User]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Статус] FOREIGN KEY([ID_статуса])
REFERENCES [dbo].[Статус] ([ID_статуса])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Статус]
GO
ALTER TABLE [dbo].[Услуги]  WITH CHECK ADD  CONSTRAINT [FK_Услуги_Категория_услуг] FOREIGN KEY([ID_категории])
REFERENCES [dbo].[Категория_услуг] ([ID_Категории])
GO
ALTER TABLE [dbo].[Услуги] CHECK CONSTRAINT [FK_Услуги_Категория_услуг]
GO
USE [master]
GO
