USE [master]
GO
/****** Object:  Database [Справочник_книг]    Script Date: 20.02.2026 13:02:49 ******/
CREATE DATABASE [Справочник_книг]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Справочник_книг', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Справочник_книг.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Справочник_книг_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Справочник_книг_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Справочник_книг].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Справочник_книг]
GO
/****** Object:  Table [dbo].[Авторы]    Script Date: 20.02.2026 13:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Авторы](
	[ID_Автора] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](100) NOT NULL,
	[Имя] [nvarchar](100) NOT NULL,
	[Отчество] [nvarchar](100) NULL,
	[Дата_Рождения] [date] NULL,
	[Страна] [nvarchar](100) NULL,
	[История] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Автора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Жанры]    Script Date: 20.02.2026 13:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Жанры](
	[ID_Жанра] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Жанра] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Книги]    Script Date: 20.02.2026 13:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Книги](
	[ID_Книги] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](200) NOT NULL,
	[ID_Автора] [int] NOT NULL,
	[ID_Жанра] [int] NOT NULL,
	[Год_Издания] [int] NULL,
	[Описание] [nvarchar](max) NULL,
	[Image] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Книги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Оценки]    Script Date: 20.02.2026 13:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Оценки](
	[ID_Оценки] [int] IDENTITY(1,1) NOT NULL,
	[ID_Пользователя] [int] NOT NULL,
	[ID_Книги] [int] NOT NULL,
	[Оценка] [int] NULL,
	[Комментарий] [nvarchar](max) NULL,
	[Дата] [datetime] NULL,
 CONSTRAINT [PK__Оценки__75B2F4C83EAFADBE] PRIMARY KEY CLUSTERED 
(
	[ID_Оценки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 20.02.2026 13:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ID_Пользователя] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](100) NOT NULL,
	[Пароль] [nvarchar](200) NOT NULL,
	[Электронная_Почта] [nvarchar](200) NOT NULL,
	[Телефон] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Прочитанные_Книги]    Script Date: 20.02.2026 13:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Прочитанные_Книги](
	[ID_Списка] [int] IDENTITY(1,1) NOT NULL,
	[ID_Пользователя] [int] NOT NULL,
	[ID_Книги] [int] NOT NULL,
	[Дата_Прочтения] [datetime] NULL,
 CONSTRAINT [PK__Прочитан__3214EC271D3FC5DC] PRIMARY KEY CLUSTERED 
(
	[ID_Списка] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Авторы] ON 

INSERT [dbo].[Авторы] ([ID_Автора], [Фамилия], [Имя], [Отчество], [Дата_Рождения], [Страна], [История]) VALUES (1, N'Толстой', N'Лев', N'Николаевич', CAST(N'1828-09-09' AS Date), N'Россия', N'Лев Толстой — один из величайших писателей мира. Автор эпопеи "Война и мир", "Анна Каренина" и множества философских трактатов. В его произведениях сочетаются глубокие психологические наблюдения, философия и реализм. Его взгляды на жизнь, религию и общество оказали огромное влияние на русскую и мировую культуру.')
INSERT [dbo].[Авторы] ([ID_Автора], [Фамилия], [Имя], [Отчество], [Дата_Рождения], [Страна], [История]) VALUES (2, N'Достоевский', N'Фёдор', N'Михайлович', CAST(N'1821-11-11' AS Date), N'Россия', N'Фёдор Достоевский — писатель, философ и мыслитель. Его романы "Преступление и наказание", "Идиот", "Братья Карамазовы" исследуют внутренний мир человека, его моральные выборы и духовные поиски. Его творчество оказало колоссальное влияние на литературу XX века и философию экзистенциализма.')
INSERT [dbo].[Авторы] ([ID_Автора], [Фамилия], [Имя], [Отчество], [Дата_Рождения], [Страна], [История]) VALUES (3, N'Чехов', N'Антон', N'Павлович', CAST(N'1860-01-29' AS Date), N'Россия', N'Антон Чехов — классик русской литературы, драматург и мастер короткого рассказа. Его пьесы "Чайка", "Дядя Ваня", "Вишнёвый сад" стали основой современного театра. В прозе Чехов тонко передавал психологию человека и трагизм обыденности.')
SET IDENTITY_INSERT [dbo].[Авторы] OFF
GO
SET IDENTITY_INSERT [dbo].[Жанры] ON 

INSERT [dbo].[Жанры] ([ID_Жанра], [Название]) VALUES (13, N'Антиутопия')
INSERT [dbo].[Жанры] ([ID_Жанра], [Название]) VALUES (4, N'Детектив')
INSERT [dbo].[Жанры] ([ID_Жанра], [Название]) VALUES (6, N'Драма')
SET IDENTITY_INSERT [dbo].[Жанры] OFF
GO
SET IDENTITY_INSERT [dbo].[Книги] ON 

INSERT [dbo].[Книги] ([ID_Книги], [Название], [ID_Автора], [ID_Жанра], [Год_Издания], [Описание], [Image]) VALUES (1, N'Война и мир', 1, 1, 1869, N'Эпопея о судьбах России.', N'Война и мир.png')
INSERT [dbo].[Книги] ([ID_Книги], [Название], [ID_Автора], [ID_Жанра], [Год_Издания], [Описание], [Image]) VALUES (2, N'Анна Каренина', 1, 1, 1877, N'Трагическая история любви.', N'Анна Каренина.png')
INSERT [dbo].[Книги] ([ID_Книги], [Название], [ID_Автора], [ID_Жанра], [Год_Издания], [Описание], [Image]) VALUES (3, N'Преступление и наказание', 2, 1, 1866, N'Роман о нравственных мучениях Раскольникова.', N'Преступление и наказание.png')
SET IDENTITY_INSERT [dbo].[Книги] OFF
GO
SET IDENTITY_INSERT [dbo].[Оценки] ON 

INSERT [dbo].[Оценки] ([ID_Оценки], [ID_Пользователя], [ID_Книги], [Оценка], [Комментарий], [Дата]) VALUES (1, 1, 1, 5, N'Отличная книга!', CAST(N'2025-09-15T21:18:13.570' AS DateTime))
INSERT [dbo].[Оценки] ([ID_Оценки], [ID_Пользователя], [ID_Книги], [Оценка], [Комментарий], [Дата]) VALUES (2, 2, 2, 4, N'Интересный сюжет.', CAST(N'2025-09-15T21:18:13.570' AS DateTime))
INSERT [dbo].[Оценки] ([ID_Оценки], [ID_Пользователя], [ID_Книги], [Оценка], [Комментарий], [Дата]) VALUES (3, 3, 3, 5, N'Глубокая философия.', CAST(N'2025-09-15T21:18:13.570' AS DateTime))
SET IDENTITY_INSERT [dbo].[Оценки] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([ID_Пользователя], [Логин], [Пароль], [Электронная_Почта], [Телефон]) VALUES (1, N'user1', N'pass1', N'user1@mail.com', N'+79000000001')
INSERT [dbo].[Пользователи] ([ID_Пользователя], [Логин], [Пароль], [Электронная_Почта], [Телефон]) VALUES (2, N'user2', N'pass2', N'user2@mail.com', N'+79000000002')
INSERT [dbo].[Пользователи] ([ID_Пользователя], [Логин], [Пароль], [Электронная_Почта], [Телефон]) VALUES (3, N'user3', N'pass3', N'user3@mail.com', N'+79000000003')
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[Прочитанные_Книги] ON 

INSERT [dbo].[Прочитанные_Книги] ([ID_Списка], [ID_Пользователя], [ID_Книги], [Дата_Прочтения]) VALUES (1, 1, 1, CAST(N'2025-07-17T00:00:00.000' AS DateTime))
INSERT [dbo].[Прочитанные_Книги] ([ID_Списка], [ID_Пользователя], [ID_Книги], [Дата_Прочтения]) VALUES (2, 1, 2, CAST(N'2025-07-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Прочитанные_Книги] ([ID_Списка], [ID_Пользователя], [ID_Книги], [Дата_Прочтения]) VALUES (3, 1, 3, CAST(N'2025-06-28T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Прочитанные_Книги] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Жанры__38DA80359BEC99E3]    Script Date: 20.02.2026 13:02:49 ******/
ALTER TABLE [dbo].[Жанры] ADD UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Пользова__0E10CAC4FDCAE2A2]    Script Date: 20.02.2026 13:02:49 ******/
ALTER TABLE [dbo].[Пользователи] ADD UNIQUE NONCLUSTERED 
(
	[Электронная_Почта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Пользова__BC2217D3DA60D3E3]    Script Date: 20.02.2026 13:02:49 ******/
ALTER TABLE [dbo].[Пользователи] ADD UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Пользова__FC1F68C0D24C1384]    Script Date: 20.02.2026 13:02:49 ******/
ALTER TABLE [dbo].[Пользователи] ADD UNIQUE NONCLUSTERED 
(
	[Телефон] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Оценки] ADD  CONSTRAINT [DF__Оценки__Дата__52593CB8]  DEFAULT (getdate()) FOR [Дата]
GO
ALTER TABLE [dbo].[Прочитанные_Книги] ADD  CONSTRAINT [DF__Прочитанн__Дата___628FA481]  DEFAULT (getdate()) FOR [Дата_Прочтения]
GO
ALTER TABLE [dbo].[Книги]  WITH CHECK ADD FOREIGN KEY([ID_Автора])
REFERENCES [dbo].[Авторы] ([ID_Автора])
GO
ALTER TABLE [dbo].[Книги]  WITH CHECK ADD FOREIGN KEY([ID_Жанра])
REFERENCES [dbo].[Жанры] ([ID_Жанра])
GO
ALTER TABLE [dbo].[Оценки]  WITH CHECK ADD  CONSTRAINT [FK__Оценки__ID_Книги__5070F446] FOREIGN KEY([ID_Книги])
REFERENCES [dbo].[Книги] ([ID_Книги])
GO
ALTER TABLE [dbo].[Оценки] CHECK CONSTRAINT [FK__Оценки__ID_Книги__5070F446]
GO
ALTER TABLE [dbo].[Оценки]  WITH CHECK ADD  CONSTRAINT [FK__Оценки__ID_Польз__4F7CD00D] FOREIGN KEY([ID_Пользователя])
REFERENCES [dbo].[Пользователи] ([ID_Пользователя])
GO
ALTER TABLE [dbo].[Оценки] CHECK CONSTRAINT [FK__Оценки__ID_Польз__4F7CD00D]
GO
ALTER TABLE [dbo].[Прочитанные_Книги]  WITH CHECK ADD  CONSTRAINT [FK__Прочитанн__ID_Кн__619B8048] FOREIGN KEY([ID_Книги])
REFERENCES [dbo].[Книги] ([ID_Книги])
GO
ALTER TABLE [dbo].[Прочитанные_Книги] CHECK CONSTRAINT [FK__Прочитанн__ID_Кн__619B8048]
GO
ALTER TABLE [dbo].[Прочитанные_Книги]  WITH CHECK ADD  CONSTRAINT [FK__Прочитанн__ID_По__60A75C0F] FOREIGN KEY([ID_Пользователя])
REFERENCES [dbo].[Пользователи] ([ID_Пользователя])
GO
ALTER TABLE [dbo].[Прочитанные_Книги] CHECK CONSTRAINT [FK__Прочитанн__ID_По__60A75C0F]
GO
ALTER TABLE [dbo].[Оценки]  WITH CHECK ADD  CONSTRAINT [CK__Оценки__Оценка__5165187F] CHECK  (([Оценка]>=(1) AND [Оценка]<=(5)))
GO
ALTER TABLE [dbo].[Оценки] CHECK CONSTRAINT [CK__Оценки__Оценка__5165187F]
GO
USE [master]
GO
