USE [master]
GO
/****** Object:  Database [ТурАгентство]    Script Date: 20.02.2026 13:03:50 ******/
CREATE DATABASE [ТурАгентство]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ТурАгентство', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ТурАгентство.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ТурАгентство_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ТурАгентство_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ТурАгентство].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ТурАгентство]
GO
/****** Object:  Table [dbo].[Бронирования]    Script Date: 20.02.2026 13:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Бронирования](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[КлиентId] [int] NULL,
	[ТурId] [int] NULL,
	[ДатаБронирования] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Города]    Script Date: 20.02.2026 13:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Города](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[СтранаId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 20.02.2026 13:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](200) NOT NULL,
	[ЭлектроннаяПочта] [nvarchar](150) NULL,
	[Телефон] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Рекомендации]    Script Date: 20.02.2026 13:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Рекомендации](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[КлиентId] [int] NULL,
	[ТурId] [int] NULL,
	[Причина] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Страны]    Script Date: 20.02.2026 13:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страны](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Туры]    Script Date: 20.02.2026 13:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Туры](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](200) NOT NULL,
	[Описание] [nvarchar](max) NULL,
	[Цена] [decimal](10, 2) NOT NULL,
	[ДатаНачала] [date] NULL,
	[ДатаОкончания] [date] NULL,
	[ГородId] [int] NULL,
	[Фото] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Бронирования] ON 

INSERT [dbo].[Бронирования] ([Id], [КлиентId], [ТурId], [ДатаБронирования]) VALUES (1, 1, 1, CAST(N'2025-04-10' AS Date))
INSERT [dbo].[Бронирования] ([Id], [КлиентId], [ТурId], [ДатаБронирования]) VALUES (2, 2, 3, CAST(N'2025-05-02' AS Date))
INSERT [dbo].[Бронирования] ([Id], [КлиентId], [ТурId], [ДатаБронирования]) VALUES (3, 3, 4, CAST(N'2025-06-15' AS Date))
SET IDENTITY_INSERT [dbo].[Бронирования] OFF
GO
SET IDENTITY_INSERT [dbo].[Города] ON 

INSERT [dbo].[Города] ([Id], [Название], [СтранаId]) VALUES (1, N'Анталия', 1)
INSERT [dbo].[Города] ([Id], [Название], [СтранаId]) VALUES (2, N'Стамбул', 1)
INSERT [dbo].[Города] ([Id], [Название], [СтранаId]) VALUES (3, N'Хургада', 2)
SET IDENTITY_INSERT [dbo].[Города] OFF
GO
SET IDENTITY_INSERT [dbo].[Клиенты] ON 

INSERT [dbo].[Клиенты] ([Id], [ФИО], [ЭлектроннаяПочта], [Телефон]) VALUES (1, N'Иванов Иван Петрович', N'123', N'123')
INSERT [dbo].[Клиенты] ([Id], [ФИО], [ЭлектроннаяПочта], [Телефон]) VALUES (2, N'Петрова Анна Сергеевна', N'petrova@gmail.com', N'+7 (916) 222-33-44')
INSERT [dbo].[Клиенты] ([Id], [ФИО], [ЭлектроннаяПочта], [Телефон]) VALUES (3, N'Сидоров Алексей Николаевич', N'sidorov@yandex.ru', N'+7 (903) 555-66-77')
SET IDENTITY_INSERT [dbo].[Клиенты] OFF
GO
SET IDENTITY_INSERT [dbo].[Рекомендации] ON 

INSERT [dbo].[Рекомендации] ([Id], [КлиентId], [ТурId], [Причина]) VALUES (1, 1, 2, N'Похожие туры по Турции')
INSERT [dbo].[Рекомендации] ([Id], [КлиентId], [ТурId], [Причина]) VALUES (2, 2, 5, N'На основе интересов к пляжным турам')
INSERT [dbo].[Рекомендации] ([Id], [КлиентId], [ТурId], [Причина]) VALUES (3, 3, 6, N'Клиент интересовался азиатскими направлениями')
SET IDENTITY_INSERT [dbo].[Рекомендации] OFF
GO
SET IDENTITY_INSERT [dbo].[Страны] ON 

INSERT [dbo].[Страны] ([Id], [Название]) VALUES (1, N'Турция')
INSERT [dbo].[Страны] ([Id], [Название]) VALUES (2, N'Египет')
INSERT [dbo].[Страны] ([Id], [Название]) VALUES (3, N'Италия')
SET IDENTITY_INSERT [dbo].[Страны] OFF
GO
SET IDENTITY_INSERT [dbo].[Туры] ON 

INSERT [dbo].[Туры] ([Id], [Название], [Описание], [Цена], [ДатаНачала], [ДатаОкончания], [ГородId], [Фото]) VALUES (1, N'Отдых в Анталии', N'7 дней в солнечной Анталии с проживанием в отеле 4* и завтраками.', CAST(55000.00 AS Decimal(10, 2)), CAST(N'2025-06-01' AS Date), CAST(N'2025-06-08' AS Date), 1, N'antalya.png')
INSERT [dbo].[Туры] ([Id], [Название], [Описание], [Цена], [ДатаНачала], [ДатаОкончания], [ГородId], [Фото]) VALUES (2, N'Экскурсия в Стамбул', N'Путешествие по историческим достопримечательностям Стамбула.', CAST(48000.00 AS Decimal(10, 2)), CAST(N'2025-05-15' AS Date), CAST(N'2025-05-22' AS Date), 2, N'istanbul.png')
INSERT [dbo].[Туры] ([Id], [Название], [Описание], [Цена], [ДатаНачала], [ДатаОкончания], [ГородId], [Фото]) VALUES (3, N'Пляжный отдых в Хургаде', N'Незабываемые каникулы на берегу Красного моря.', CAST(60000.00 AS Decimal(10, 2)), CAST(N'2025-07-10' AS Date), CAST(N'2025-07-20' AS Date), 3, N'hurghada.png')
SET IDENTITY_INSERT [dbo].[Туры] OFF
GO
ALTER TABLE [dbo].[Бронирования]  WITH CHECK ADD FOREIGN KEY([КлиентId])
REFERENCES [dbo].[Клиенты] ([Id])
GO
ALTER TABLE [dbo].[Бронирования]  WITH CHECK ADD FOREIGN KEY([ТурId])
REFERENCES [dbo].[Туры] ([Id])
GO
ALTER TABLE [dbo].[Города]  WITH CHECK ADD FOREIGN KEY([СтранаId])
REFERENCES [dbo].[Страны] ([Id])
GO
ALTER TABLE [dbo].[Рекомендации]  WITH CHECK ADD FOREIGN KEY([КлиентId])
REFERENCES [dbo].[Клиенты] ([Id])
GO
ALTER TABLE [dbo].[Рекомендации]  WITH CHECK ADD FOREIGN KEY([ТурId])
REFERENCES [dbo].[Туры] ([Id])
GO
ALTER TABLE [dbo].[Туры]  WITH CHECK ADD FOREIGN KEY([ГородId])
REFERENCES [dbo].[Города] ([Id])
GO
USE [master]
GO
